* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: black;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 6px;
  background-color: #E5E5E5;
}

body::-webkit-scrollbar-thumb {
  background-color: #01539B;
  border-radius: 5px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.slider-container {
  max-width: 1360px;
  padding: 0 20px;
  margin: 0 auto;
}

.container {
  max-width: 1340px;
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (max-width: 1400px) {
  .container {
    max-width: 1140px;
  }
  .slider-container {
    max-width: 1160px;
  }
}

@media screen and (max-width: 1200px) {
  .slider-container {
    max-width: 980px;
  }
  .container {
    max-width: 960px;
  }
}

@media screen and (max-width: 992px) {
  .slider-container {
    max-width: 740px;
    padding: 0 10px;
  }
  .container {
    padding: 0 10px;
    max-width: 720px;
  }
  .title {
    font-size: 28px;
  }
}

@media screen and (max-width: 768px) {
  .slider-container {
    max-width: 560px;
  }
  .container {
    max-width: 540px;
  }
  .title {
    font-size: 22px;
  }
}

@media screen and (max-width: 576px) {
  .slider-container {
    max-width: 340px;
    padding: 0;
  }
  .container {
    max-width: 320px;
  }
  .title {
    font-size: 20px;
  }
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 54px;
  line-height: 62px;
  letter-spacing: -0.02em;
  color: #000000;
}

.overlay {
  position: relative;
}

.overlay::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(1, 83, 155, 0.94);
}

.bg-second {
  background-color: #F6F5FA;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

h2, .title {
  color: #768088;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 32px;
  line-height: 36px;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body.fixed header {
  width: 100%;
  position: fixed;
  z-index: 500;
}

.technical-support__title {
  margin-bottom: -20px;
}

.btn-primary, .btn-secondary {
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  border-radius: 2px;
  text-decoration: none;
}

.btn-primary {
  background: linear-gradient(135deg, #1E97CC 0%, #7C96D7 100%);
  color: white;
  border: 1px solid transparent;
}

.btn-primary:hover {
  background: linear-gradient(135deg, #0E71CC 100%, #7C96D7 100%);
}

.btn-secondary {
  color: #01539B;
  background: transparent;
  border: 1px solid #999999;
}

.btn-secondary:hover {
  border: 1px solid #0E71CC;
  color: #0E71CC;
}

.btn-primary:hover, .btn-primary:focus {
  background: linear-gradient(135deg, #0E71CC 100%, #7C96D7 100%);
}

.btn-secondary:hover, .btn-secondary:focus {
  color: linear-gradient(135deg, #0E71CC 100%, #7C96D7 100%);
}

.btn-primary:focus, .btn-secondary:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 5px rgba(1, 83, 155, 0.2);
          box-shadow: 0 0 0 5px rgba(1, 83, 155, 0.2);
}

.btn-primary:disabled, .btn-primary.disabled {
  background: #999999;
  cursor: not-allowed;
}

.btn-secondary:disabled, .btn-secondary.disabled {
  color: #999999;
  cursor: not-allowed;
  border: 1px solid #999999;
}

input:focus, select:focus {
  outline: none;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox + label.castom {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.custom-checkbox + label.castom::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 1px solid #01539B;
  border-radius: 2px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.checkbox {
  margin-right: 10px;
}

.custom-checkbox:not(:disabled):not(:checked) + label.castom:hover::before {
  border-color: #0E71CC;
}

.custom-checkbox:not(:disabled):active + label.castom::before {
  background-color: #01539B;
  border-color: #01539B;
}

.custom-checkbox:focus:not(:checked) + label.castom::before {
  border-color: #01539B;
}

.custom-checkbox:checked + label.castom::before {
  border-color: #01539B;
  background-color: #01539B;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.checkbox.error .custom-checkbox + label.castom::before {
  border: 1px solid #C92123;
}

.input-search {
  position: relative;
}

.input-search input {
  width: 100%;
  font-size: 18px;
  border-radius: 2px;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  border: 1px solid #E5E5E5;
}

.input-search input::-webkit-input-placeholder {
  color: #999999;
}

.input-search input:-ms-input-placeholder {
  color: #999999;
}

.input-search input::-ms-input-placeholder {
  color: #999999;
}

.input-search input::placeholder {
  color: #999999;
}

.input-search input:hover {
  border-color: #999999;
}

.input-search input:focus {
  border-color: #01539B;
}

.input-search input:focus::-webkit-input-placeholder {
  color: black;
}

.input-search input:focus:-ms-input-placeholder {
  color: black;
}

.input-search input:focus::-ms-input-placeholder {
  color: black;
}

.input-search input:focus::placeholder {
  color: black;
}

.input-search label {
  position: absolute;
  right: 23px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.field {
  position: relative;
}

.field span.field__error_text {
  display: none;
  color: #C92123;
  position: absolute;
  bottom: -14px;
  font-size: 12px;
}

.field label.error {
  color: #C92123;
  position: absolute;
  bottom: -12px;
  left: 0;
  font-size: 12px;
}

.field span.field__valid, .field span.field__error {
  display: none;
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 10px;
  width: 10px;
  background-repeat: no-repeat;
}

.field span.field__error {
  background-image: url(/img/icon/error.svg);
}

.field span.field__valid {
  background-image: url(/img/icon/success.svg);
}

.field label.field-label {
  position: absolute;
  left: 18px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  color: #999999;
  font-size: 15px;
}

.field input {
  width: 100%;
  font-size: 18px;
  border-radius: 2px;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  border: 1px solid #E5E5E5;
}

.field input:hover {
  border-color: #999999;
}

.field input:focus {
  border-color: #01539B;
}

.field input:focus ~ label.field-label {
  color: #01539B;
  font-size: 13px;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  top: -8px;
  background: white;
  display: inline-block;
  padding: 0 5px;
  margin-left: -5px;
}

.field input.error {
  border-color: #C92123;
}

.field input.error ~ label.field-label {
  color: #C92123;
}

.field input.error ~ span.field__error {
  display: block;
}

.field input.error ~ span.field__error_text {
  display: block;
}

.field input.valid {
  border-color: #088843;
}

.field input.valid ~ label.field-label {
  color: #088843;
}

.field input.valid ~ span.field__valid {
  display: block;
}

.field input.active ~ label.field-label {
  color: #01539B;
  font-size: 13px;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  top: -8px;
  background: white;
  display: inline-block;
  padding: 0 5px;
  margin-left: -5px;
}

.field input.active.error {
  border-color: #C92123;
}

.field input.active.error ~ label.field-label {
  color: #C92123;
}

.field input.active.error ~ span.field__error {
  display: block;
}

.field input.active.error ~ span.field__error_text {
  display: block;
}

.field input.active.valid {
  border-color: #088843;
}

.field input.active.valid ~ label.field-label {
  color: #088843;
}

.field input.active.valid ~ span.field__valid {
  display: block;
}

.select {
  width: 100%;
  position: relative;
  cursor: pointer;
}

.select select {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 18px;
  border-radius: 2px;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  border: 1px solid #E5E5E5;
  color: #999999;
}

.select select:hover {
  border-color: #999999;
}

.select select:focus {
  border-color: #01539B;
  color: #01539B;
}

.select label {
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@-webkit-keyframes showSearchPanel {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showSearchPanel {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes hideSearchPanel {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes hideSearchPanel {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.hidden {
  overflow: hidden;
}

.menu-panel {
  background: #F2F2F2;
  z-index: 900;
  display: none;
  position: fixed;
  height: 100vh;
  overflow: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.menu-panel__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu-panel__item {
  margin-right: 1%;
  -ms-flex-preferred-size: 22.1%;
      flex-basis: 22.1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu-panel__item:last-child {
  margin-right: 0;
}

.menu-panel__item ul {
  margin-bottom: 38px;
  max-width: 250px;
}

.menu-panel__item ul li {
  margin-bottom: 6px;
}

.menu-panel__item ul li a {
  text-decoration: none;
  line-height: 18.6px;
  font-size: 14px;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  padding: 5px 0;
  display: block;
}

.menu-panel__link {
  text-decoration: none;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 17px;
  padding-bottom: 10px;
  position: relative;
  display: block;
}

.menu-panel__link_bottom {
  position: relative;
}

.menu-panel__link_bottom a {
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.menu-panel__link_bottom::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 58px;
  background-color: #C92123;
  display: block;
}

.menu-panel__link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 58px;
  background-color: #C92123;
  display: block;
}

.menu-panel::-webkit-scrollbar {
  width: 6px;
  background-color: #E5E5E5;
}

.menu-panel::-webkit-scrollbar-thumb {
  background-color: #01539B;
  border-radius: 2px;
}

.menu-panel__input {
  margin-bottom: 60px;
  width: 100%;
}

.menu-panel__input input {
  padding: 22px 19px;
}

.menu-panel__wrap {
  padding-top: 78px;
  height: 100%;
}

body.show-panel {
  overflow: hidden;
}

body.show-panel .menu-panel {
  display: block;
}

@media screen and (max-width: 992px) {
  .menu-panel__wrap {
    padding-top: 30px;
  }
  .menu-panel__input {
    margin-bottom: 30px;
  }
  .menu-panel__item {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
}

@media screen and (max-width: 768px) {
  .menu-panel__item ul {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 576px) {
  .menu-panel__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-right: 0;
  }
  .menu-panel__item ul {
    margin-bottom: 10px;
  }
}

.modal {
  z-index: 1000;
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  position: fixed;
  height: 100vh;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__block {
  background-color: white;
  position: relative;
  padding: 50px 76px;
  width: 530px;
}

.modal__title {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  padding: 0;
  font-size: 32px;
  margin-bottom: 36px;
  display: block;
}

.modal__close {
  position: absolute;
  cursor: pointer;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__close i {
  position: relative;
  width: 65%;
}

.modal__close i::before, .modal__close i::after {
  content: "";
  position: absolute;
  display: block;
  height: 2px;
  width: 100%;
  background-color: black;
  top: 0;
}

.modal__close i::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal__close i::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__input {
  position: relative;
  margin-bottom: 20px;
  color: red;
}

.modal__input:last-child {
  margin-bottom: 5120px;
}

.modal__input input {
  padding: 15px 18px;
  background: #F0F0F0;
}

.modal__input input:focus {
  background: none;
}

.modal__input input.active {
  background: transparent;
}

.modal__select {
  margin-bottom: 20px;
}

.modal__select select {
  padding: 15px 18px;
  background: #F0F0F0;
}

.modal__select select:focus {
  background: none;
}

.modal__btn {
  padding: 25px 0;
  margin-bottom: 37px;
}

.modal__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal__check a {
  text-decoration: none;
  color: #999999;
  font-size: 12px;
  line-height: 16px;
}

body.modal-show {
  overflow: hidden;
}

body.modal-show .modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 992px) {
  .modal__close {
    width: 40px;
    height: 40px;
  }
  .modal__title {
    font-size: 24px;
    margin-bottom: 15px;
  }
  .modal__block {
    width: 450px;
    padding: 22px 46px;
  }
  .modal__btn {
    padding: 17px 0;
  }
}

@media screen and (max-width: 576px) {
  .modal__close {
    width: 30px;
    height: 30px;
  }
  .field label.field-label {
    font-size: 13px;
  }
  .modal__title {
    font-size: 24px;
    margin-bottom: 15px;
  }
  .modal__block {
    width: 320px;
    padding: 15px 15px;
  }
  .modal__btn {
    padding: 17px 0;
  }
  .modal__input input {
    padding: 9px 16px;
  }
  .modal__select select {
    padding: 9px 16px;
    font-size: 13px;
  }
  .modal__btn {
    padding: 10px 0;
    margin-bottom: 10px;
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__mobile {
  display: none;
  margin-right: 10px;
}

.logo__desktop {
  width: 300px;
  height: 54px;
}

@media screen and (max-width: 1200px) {
  .header .logo__text {
    display: none;
  }
  .header .logo__desktop {
    display: none;
  }
  .header .logo__mobile {
    display: block;
  }
}

@media screen and (max-width: 992px) {
  .header .logo {
    margin-right: 10px;
    max-width: 35px;
  }
  .header .logo svg, .logo .icon {
    margin: 0;
    min-width: 35px;
  }
}

.phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone a, .phone__text {
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 18px;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 1400px) {
  .phone svg {
    width: 18px;
    height: 18px;
  }
  .phone a, .phone__text {
    font-size: 18px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 768px) {
  .phone a, .phone__text {
    font-size: 14px;
  }
  .phone svg {
    width: 14px;
    height: 14px;
  }
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gallery__hero {
  border: 1px solid #E5E5E5;
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery__hero img {
  height: 380px;
  width: 100%;
}

.gallery__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery__item {
  position: relative;
  cursor: pointer;
  -ms-flex-preferred-size: 21%;
      flex-basis: 21%;
  margin-right: 2%;
  margin-bottom: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery__item img {
  width: 100%;
}

.gallery__item::before {
  content: "";
  display: block;
  position: absolute;
  width: 90%;
  height: 2px;
  background-color: transparent;
  -webkit-transition: background-color .2s linear;
  transition: background-color .2s linear;
  bottom: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.gallery__item:nth-child(4n) {
  margin-right: 0;
}

.gallery__item.active::before {
  background-color: #C92123;
}

.product-information {
  background-color: #13202C;
  border-radius: 4px;
  padding: 30px;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  max-width: 638px;
}

.product-information__item {
  color: white;
}

.product-information__item p {
  color: white !important;
  padding-top: 20px;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 13px;
  padding-right: 10px;
}

.product-information__item table {
  color: white;
  width: 100%;
}

.product-information__item table td {
  font-size: 13px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
  color: white;
  padding: 18px 0;
}

.product-information__item table td:nth-child(2n) {
  text-align: right;
}

.product-information__item table td:first-child {
  color: #D9D9D9;
}

.product-information__item table tr {
  -webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1);
          box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1);
}

.product-information__tabs {
  margin-bottom: 5px;
  padding-bottom: 27px;
  width: 100%;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1);
          box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1);
}

.product-information__tabs button, .product-information__tabs a {
  text-decoration: none;
  color: white;
  background: transparent;
  border: none;
  padding-bottom: 7px;
  position: relative;
  margin-right: 20px;
  line-height: 20px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.product-information__tabs button:last-child, .product-information__tabs a:last-child {
  margin-right: 0;
}

.product-information__tabs button::before, .product-information__tabs a::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 52px;
  -webkit-transition: background-color .2s linear;
  transition: background-color .2s linear;
  background-color: transparent;
}

.product-information__tabs button.active::before, .product-information__tabs a.active::before {
  background-color: #C92123;
}

.product-information__tabs button:focus, .product-information__tabs a:focus {
  outline: none;
}

@media screen and (max-width: 1200px) {
  .product-information__tabs button, .product-information__tabs a {
    margin-right: 10px;
    font-size: 14px;
  }
  .product-information__item p {
    font-size: 14px;
  }
  .product-information__item table td {
    font-size: 14px;
  }
}

.pagination__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 65px 0 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination__link {
  padding: 10px 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #e5e5e5;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  border-radius: 2px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

.pagination__link:hover {
  background-color: #cccccc;
}

.pagination__link.active {
  background-color: #01539B;
  color: white;
  pointer-events: none;
  cursor: default;
}

.pagination__dots {
  cursor: default;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: none;
  padding: 11px;
}

.pagination a {
  margin-right: 12px;
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
}

.pagination a::last-child {
  margin-right: 0;
}

.pagination__prev, .pagination__next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  border: 2px solid #01539B;
  width: 35px;
  height: 35px;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.pagination__prev:hover, .pagination__next:hover {
  background-color: #01539B;
}

.pagination__prev:hover svg path, .pagination__next:hover svg path {
  fill: white;
}

.pagination__prev.disabled, .pagination__next.disabled {
  border: 2px solid #75A1C8;
  pointer-events: none;
}

.pagination__prev.disabled svg path, .pagination__next.disabled svg path {
  fill: #75A1C8;
}

.pagination__prev svg path, .pagination__next svg path {
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  fill: #01539B;
}

@media screen and (max-width: 995px) {
  .pagination__wrap {
    padding: 45px 0 40px;
  }
}

@media screen and (max-width: 768px) {
  .pagination__wrap {
    padding: 35px 0 30px;
  }
  .pagination__link {
    padding: 5px 9px;
    font-size: 11px;
    line-height: 13px;
  }
  .pagination__dots {
    padding: 11px;
  }
  .pagination a {
    margin-right: 5px;
    text-decoration: none;
    font-weight: 600;
    font-size: 10px;
  }
  .pagination__prev, .pagination__next {
    width: 20px;
    height: 20px;
  }
}

.card-new__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 68px 0 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card-new__item {
  -ms-flex-preferred-size: 23.8%;
      flex-basis: 23.8%;
  -webkit-box-shadow: 0px 10px 40px rgba(154, 199, 228, 0.4);
          box-shadow: 0px 10px 40px rgba(154, 199, 228, 0.4);
  text-decoration: none;
  padding-bottom: 25px;
  -webkit-transition: -webkit-box-shadow .2s linear;
  transition: -webkit-box-shadow .2s linear;
  transition: box-shadow .2s linear;
  transition: box-shadow .2s linear, -webkit-box-shadow .2s linear;
  margin-bottom: 61px;
}

.card-new__item:hover {
  background-color: #F7F8FB;
  -webkit-box-shadow: 0px 10px 40px rgba(154, 199, 228, 0.7);
          box-shadow: 0px 10px 40px rgba(154, 199, 228, 0.7);
}

.card-new__item:hover .card-new__description p {
  color: #C92123;
}

.card-new__item img {
  width: 100%;
  max-height: 166px;
  margin-bottom: 22px;
}

.card-new__description {
  padding: 0 13px;
}

.card-new__description p {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 22px;
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
}

.card-new__title {
  font-weight: 700;
  line-height: 14px;
  font-size: 12px;
  margin-bottom: 11px;
  display: block;
  color: #999999;
}

@media screen and (max-width: 992px) {
  .card-new__wrap {
    padding: 40px 0 0;
  }
  .card-new__item {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 768px) {
  .card-new__wrap {
    padding: 30px 0 0;
  }
}

@media screen and (max-width: 576px) {
  .card-new__wrap {
    padding: 20px 0 0;
  }
  .card-new__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promo__item {
  -ms-flex-preferred-size: 47.9%;
      flex-basis: 47.9%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.promo__item img {
  width: 100%;
}

.promo__title {
  font-size: 34px;
  line-height: 40px;
  font-weight: 400;
  color: #768088;
  margin-bottom: 5px;
}

.promo__text {
  margin-bottom: 40px;
  color: #333333;
}

@media screen and (max-width: 992px) {
  .promo__title {
    font-size: 24px;
  }
  .promo__text {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .promo__title {
    font-size: 19px;
    margin-bottom: 15px;
    line-height: 30px;
  }
}

@media screen and (max-width: 576px) {
  .promo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .promo__title {
    margin-bottom: 0;
    line-height: 20px;
  }
  .promo__text {
    margin-bottom: 10px;
  }
}

.media__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 34px 0 61px;
}

.media__item {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  margin-right: 5%;
  margin-bottom: 36px;
}

.media__item:nth-child(3n) {
  margin-right: 0;
}

.media__item img {
  width: 100%;
  height: 160px;
  margin-bottom: 10px;
}

.media__description {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  display: block;
  width: 100%;
}

@media screen and (max-width: 1400px) {
  .media__wrap {
    padding: 30px 0 55px;
  }
}

@media screen and (max-width: 1200px) {
  .media__wrap {
    padding: 25px 0 45px;
  }
}

@media screen and (max-width: 992px) {
  .media__wrap {
    padding: 15px 0 30px;
  }
}

@media screen and (max-width: 768px) {
  .media__wrap {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 5px 0 10px;
  }
  .media__item {
    margin-right: 0;
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
  }
  .media__description {
    font-size: 16px;
  }
}

@media screen and (max-width: 576px) {
  .media__description {
    line-height: 19px;
  }
  .media__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.cards__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 63px 0 126px;
}

.cards__article {
  text-transform: uppercase;
  position: absolute;
  right: 20px;
  bottom: -50%;
  font-family: "Montserrat", sans-serif;
  font-size: 256px;
  font-weight: 800;
  color: #F6F5FA;
  z-index: 100;
}

.cards__image {
  opacity: 0;
  z-index: 50;
  position: absolute;
  height: 100%;
  width: 100%;
}

.cards__image img {
  height: 100%;
  width: 100%;
}

.cards__image::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  opacity: .9;
  background: linear-gradient(135deg, #1E97CC 0%, #7C96D7 100%);
}

.cards__text {
  z-index: 200;
  margin-left: 11%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.cards__text .cards__description {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  margin-top: 10px;
  max-width: 455px;
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
}

.cards__text .cards__before {
  -webkit-transition: background .2s linear;
  transition: background .2s linear;
  height: 2px;
  width: 9.5%;
  background: #C92123;
  margin-bottom: 13px;
}

.cards__text span {
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  max-width: 310px;
}

.cards__item {
  background: linear-gradient(135deg, rgba(0, 0, 0, 0) 0%);
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 220px;
  border: 1px solid #DBDBDB;
  position: relative;
  border-radius: 2px;
  -ms-flex-preferred-size: 33.3%;
      flex-basis: 33.3%;
  overflow: hidden;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
          box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

.cards__item table {
  z-index: 200;
  position: absolute;
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

.cards__item table td:nth-child(5) {
  width: 5%;
}

.cards__item table td:nth-child(4) {
  width: 4.5%;
}

.cards__item table tr td:first-child {
  width: 11%;
  border-right: 1px solid #F6F5FA;
}

.cards__item table tr td:nth-child(2) {
  width: 8.5%;
  border-right: 1px solid #F6F5FA;
}

.cards__item table tr .num {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #cccccc;
  font-weight: 800;
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
}

.cards__item table tr td:nth-child(4) {
  border-right: 1px solid #F6F5FA;
}

.cards__item table tr td:nth-child(3) {
  border-right: 1px solid #F6F5FA;
}

.cards__item table tr:first-child {
  height: 11%;
}

.cards__item table tr:first-child td {
  border-bottom: 1px solid #F6F5FA;
}

.cards__item table tr:nth-child(2) {
  height: 8%;
}

.cards__item table tr:nth-child(2) td {
  border-bottom: 1px solid #F6F5FA;
}

.cards__item:hover {
  border: none;
  -webkit-box-shadow: 0px 8px 32px rgba(79, 159, 212, 0.56);
          box-shadow: 0px 8px 32px rgba(79, 159, 212, 0.56);
}

.cards__item:hover table tr td {
  border: 1px solid transparent;
}

.cards__item:hover table tr td.num {
  color: white;
}

.cards__item:hover .cards__text span {
  color: white;
}

.cards__item:hover .cards__text .cards__before {
  background: white;
}

.cards__item:hover .cards__article {
  color: white;
  opacity: .1;
}

.cards__item:hover .cards__image {
  opacity: 1;
}

.cards__item:hover .cards__description {
  color: white;
}

.cards.full .cards__text {
  margin-left: 7%;
  max-width: 500px;
}

.cards.full .cards__text .cards__before {
  width: 6%;
}

.cards.full .cards__item {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.cards.full .cards__item table td:nth-child(5) {
  width: 2%;
}

.cards.full .cards__item table td:nth-child(4) {
  width: 4.5%;
}

.cards.full .cards__item table tr td:first-child {
  width: 11%;
  border-right: 1px solid transparent;
}

.cards.full .cards__item table tr td:nth-child(2) {
  width: 8.5%;
  border-right: 1px solid transparent;
}

.cards.full .cards__item table tr td:nth-child(4) {
  border-right: 1px solid transparent;
}

.cards.full .cards__item table tr td:nth-child(3) {
  border-right: 1px solid transparent;
}

.cards.full .cards__item table tr:first-child {
  height: 11%;
}

.cards.full .cards__item table tr:first-child td {
  border-bottom: 1px solid transparent;
}

.cards.full .cards__item table tr:nth-child(2) {
  height: 8%;
}

.cards.full .cards__item table tr:nth-child(2) td {
  border-bottom: 1px solid transparent;
}

.cards.full .cards__wrap {
  padding: 63px 0;
}

@media screen and (max-width: 1400px) {
  .cards__wrap {
    padding: 60px 0 100px;
  }
}

@media screen and (max-width: 1200px) {
  .cards__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .cards__article {
    font-size: 195px;
    bottom: -30%;
  }
  .cards__wrap {
    padding: 20px 0 60px;
  }
}

@media screen and (max-width: 992px) {
  .cards__wrap {
    padding: 20px 0 50px;
  }
  .cards.full .cards__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media screen and (max-width: 768px) {
  .cards__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .cards__wrap {
    padding: 15px 0 30px;
  }
}

@media screen and (max-width: 576px) {
  .cards__text .cards__description {
    font-size: 14px;
    line-height: 20px;
  }
  .cards__text span {
    font-size: 14px;
    line-height: 20px;
  }
  .cards__item {
    height: 185px;
  }
  .cards__article {
    font-size: 125px;
    bottom: -20%;
  }
  .cards__wrap {
    padding: 10px 0 15px;
  }
}

.title-block {
  padding: 35px 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-block__all {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #1C9DE5;
  text-decoration: none;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.title-block__all:hover {
  color: #0e71cc;
}

@media screen and (max-width: 992px) {
  .title-block {
    padding: 20px 0 10px;
  }
  .title-block__title {
    font-size: 28px;
  }
  .title-block__all {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .title-block__title {
    font-size: 22px;
  }
}

@media screen and (max-width: 576px) {
  .title-block__title {
    font-size: 20px;
  }
}

.slider-second .card-new__wrap {
  padding: 39px 0 0;
}

.slider-second__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.slider-second__range {
  -ms-flex-preferred-size: 88.5%;
      flex-basis: 88.5%;
  height: 4px;
  background-color: #E5E5E5;
  margin-right: 40px;
  position: relative;
}

.slider-second__range_progress {
  position: absolute;
  left: 0;
  top: 0;
  width: 10%;
  -webkit-transition: width .2s linear;
  transition: width .2s linear;
  height: 4px;
  background: #C92123;
}

.slider-second__control {
  padding: 2px 0 45px;
}

@media screen and (max-width: 995px) {
  .slider-second__range {
    -ms-flex-preferred-size: 81.5%;
        flex-basis: 81.5%;
  }
}

@media screen and (max-width: 768px) {
  .slider-second__range {
    -ms-flex-preferred-size: 78.5%;
        flex-basis: 78.5%;
  }
  .slider-second__control {
    padding: 2px 0 35px;
  }
  .slider-second .card-new__wrap {
    padding: 19px 0 0;
  }
}

@media screen and (max-width: 576px) {
  .slider-second__range {
    -ms-flex-preferred-size: 55.5%;
        flex-basis: 55.5%;
  }
  .slider-second__range__control {
    padding: 2px 0 15px;
  }
}

.custom-select {
  position: relative;
}

.custom-select:focus {
  border: 1px solid #01539B;
  outline: none;
}

.custom-select__select {
  height: 0;
  width: 0;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 100%;
}

.custom-select__select:focus {
  border: 1px solid #01539B;
  outline: none;
}

.custom-select__selected-text {
  white-space: nowrap;
  text-transform: uppercase;
  width: 100%;
  cursor: default;
  display: inline-block;
  padding: 1px 18px 1px 4px;
  border: 1px solid #999;
  border-radius: 2px;
  border-radius: 1px;
  position: relative;
  font-size: 13px;
  font-family: sans-serif;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  padding: 16px 17px;
}

.custom-select__selected-text:focus {
  border: 1px solid #01539B;
  outline: none;
}

.custom-select__selected-text:after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 3px 0 3px;
  border-color: #000 transparent transparent transparent;
  top: 0;
  bottom: 0;
  right: 6px;
  margin: auto;
}

.custom-select__selected-text:focus + select, .custom-select__select:focus {
  height: auto;
  width: auto;
  overflow-y: scroll;
  opacity: 1;
  z-index: 400;
  width: 100%;
  border: 1px solid #01539B;
}

@media screen and (max-width: 1400px) {
  .deflate .custom-select__selected-text {
    font-size: 13px;
  }
}

.blank {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  border: 1px solid #DBDBDB;
  border-top: 1px solid transparent;
  border-radius: 2px;
  padding: 15.5px;
  padding-left: 22px;
}

.blank:first-child {
  border-top: 1px solid #DBDBDB;
}

.blank:hover {
  -webkit-box-shadow: 0px 10px 40px rgba(154, 199, 228, 0.4);
          box-shadow: 0px 10px 40px rgba(154, 199, 228, 0.4);
  border: 1px solid transparent;
}

.blank__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blank__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 5px;
}

.blank__subtitle {
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
}

.blank__link {
  padding: 17px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  color: #2E97CE;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  cursor: pointer;
  text-decoration: none;
  border-radius: 50px;
  border: 2px solid #2E97CE;
}

.blank__link svg {
  margin-right: 20px;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.blank__link:hover {
  background: linear-gradient(135deg, #1E97CC 0%, #7C96D7 100%);
  color: white;
  border: 2px solid transparent;
}

.blank__link:hover svg path {
  fill: white;
}

@media screen and (max-width: 992px) {
  .blank {
    padding: 13.5px;
    padding-left: 16px;
  }
  .blank__title {
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 3px;
  }
  .blank__subtitle {
    line-height: 14px;
  }
  .blank__link {
    padding: 13px 12px;
  }
  .blank__link svg {
    margin-right: 15px;
  }
}

@media screen and (max-width: 768px) {
  .blank {
    padding: 11.5px;
    padding-left: 14px;
  }
  .blank__title {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 0;
  }
  .blank__subtitle {
    line-height: 13px;
  }
  .blank__link {
    padding: 11px 9px;
  }
  .blank__link svg {
    margin-right: 10px;
  }
}

@media screen and (max-width: 576px) {
  .blank {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blank__subtitle {
    margin-bottom: 15px;
  }
}

.message {
  background-image: url(../img/panel-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -webkit-box-shadow: 0px 8px 32px rgba(79, 159, 212, 0.56);
          box-shadow: 0px 8px 32px rgba(79, 159, 212, 0.56);
  color: white;
  width: 639px;
  border-radius: 2px;
  position: relative;
}

.message::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .8;
  background: linear-gradient(135deg, #1E97CC 0%, #7C96D7 100%), #FFFFFF;
}

.message p {
  position: relative;
  z-index: 50;
  color: white;
  font-size: 18px;
  line-height: 24px;
}

@media screen and (max-width: 1400px) {
  .message {
    width: 530px;
  }
}

@media screen and (max-width: 1200px) {
  .message {
    width: 430px;
  }
}

@media screen and (max-width: 992px) {
  .message {
    width: 290px;
  }
}

.arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 80px;
}

.arrows__item {
  cursor: pointer;
  -webkit-transition: all .1 linear;
  transition: all .1 linear;
  border-radius: 50%;
}

.arrows__item path {
  fill: #035194;
}

.arrows__item rect {
  stroke: #035194;
}

.arrows__item:hover {
  background: #035194;
}

.arrows__item:hover path {
  fill: #ffffff;
}

.arrows__item.slick-disabled {
  pointer-events: none;
}

.arrows__item.slick-disabled path {
  fill: #86A7C2;
}

.arrows__item.slick-disabled rect {
  stroke: #86A7C2;
}

.video {
  position: relative;
}

.video__play {
  position: absolute;
  top: 45%;
  -webkit-transform: translateY(-45%);
          transform: translateY(-45%);
  width: 100%;
  height: 90px;
  left: 0;
}

.header {
  background: white;
  height: 77px;
  width: 100%;
  padding: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2), 0px -4px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2), 0px -4px 20px rgba(0, 0, 0, 0.2);
}

.header__drop-menu {
  width: 40px;
  height: 77px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.header__drop-menu i {
  width: 100%;
  height: 70%;
  background-color: green;
  width: 100%;
  height: 2px;
  width: 100%;
  background-color: black;
  position: relative;
}

.header__drop-menu i::after, .header__drop-menu i::before {
  content: "";
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  position: absolute;
  display: block;
  height: 2px;
  width: 100%;
  background-color: black;
}

.header__drop-menu i::after {
  top: -10px;
}

.header__drop-menu i::before {
  bottom: -10px;
}

.header__drop-menu.active i {
  background-color: transparent;
}

.header__drop-menu.active i::after, .header__drop-menu.active i::before {
  top: 0;
}

.header__drop-menu.active i::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header__drop-menu.active i::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav ul {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
}

.header__nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.header__nav ul li a {
  cursor: pointer;
  padding: 30px 1px;
  margin-right: 34px;
  position: relative;
  border: 1px solid transparent;
  font-weight: 600;
  opacity: .6;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.header__nav ul li a::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: transparent;
  position: absolute;
  -webkit-transition: background-color .2s linear;
  transition: background-color .2s linear;
  top: 0;
}

.header__nav ul li a:hover {
  opacity: 1;
}

.header__nav ul li a:hover::after {
  background-color: #C92123;
}

@media screen and (max-width: 1480px) {
  .header__nav ul li a {
    margin-right: 10px;
  }
}

@media screen and (max-width: 1380px) {
  .header__nav ul li a {
    font-size: 14px;
  }
}

@media screen and (max-width: 992px) {
  .title {
    font-size: 28px;
  }
  .header {
    padding: 0 20px;
    height: 63px;
  }
  .header__nav {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 0px;
            flex: 1 0 0;
  }
  .header__nav ul {
    display: none;
  }
  .header__drop-menu {
    height: 63px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0 10px;
    height: 53px;
  }
  .header__drop-menu {
    height: 53px;
  }
}

.breadcrumbs {
  background-image: url(/img/panel-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.breadcrumbs__links {
  position: relative;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumbs__links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 182px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumbs__links ul li {
  position: relative;
  color: white;
}

.breadcrumbs__links ul li a {
  color: white;
}

.breadcrumbs__links ul li:last-child {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 32px;
}

.breadcrumbs__links ul li:not(:last-child) {
  padding-right: 8px;
  margin-right: 3px;
  font-size: 15px;
}

.breadcrumbs__links ul li:not(:last-child)::after {
  content: "/";
  -webkit-transform: rotate(4deg);
          transform: rotate(4deg);
  display: block;
  font-size: 16px;
  color: white;
  position: absolute;
  right: 0;
  top: 0;
}

@media screen and (max-width: 992px) {
  .breadcrumbs__links ul {
    height: 140px;
  }
  .breadcrumbs__links ul li:last-child {
    font-size: 30px;
  }
}

@media screen and (max-width: 768px) {
  .breadcrumbs__links ul li:not(:last-child) {
    font-size: 14px;
  }
  .breadcrumbs__links ul li:last-child {
    font-size: 17px;
  }
  .breadcrumbs__links ul li:not(:last-child)::after {
    font-size: 14px;
  }
}

@media screen and (max-width: 576px) {
  .breadcrumbs__links ul {
    height: 100px;
  }
  .breadcrumbs__links ul li:not(:last-child) {
    font-size: 12px;
  }
  .breadcrumbs__links ul li:last-child {
    font-size: 14px;
  }
  .breadcrumbs__links ul li:not(:last-child)::after {
    font-size: 12px;
  }
}

.error__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 202px 0 189px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.error__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 66%;
      flex-basis: 66%;
}

.error__title, .error h1 {
  margin-bottom: 23px;
}

.error__subtitle {
  font-weight: 400;
  line-height: 32px;
  font-size: 18px;
  margin-bottom: 10px;
}

.error__contacts {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: .3px;
  margin-bottom: 49px;
  text-decoration: none;
}

.error__contacts:hover {
  text-decoration: underline;
}

.error__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.error__btns button, .error__btns a {
  padding: 23px 70px;
  font-size: 17px;
  letter-spacing: .02rem;
  margin-right: 22px;
}

.error__btns button:last-child, .error__btns a:last-child {
  margin-right: 0;
}

@media screen and (max-width: 1400px) {
  .error__description {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .error__btns button, .error__btns a {
    padding: 16px 10px;
  }
  .error__title, .error h1 {
    font-size: 47px;
  }
  .error__block {
    padding: 120px 0 120px;
  }
}

@media screen and (max-width: 1200px) {
  .error__description {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }
  .error img {
    height: 260px;
  }
  .error__block {
    padding: 100px 0;
  }
}

@media screen and (max-width: 992px) {
  .error__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .error img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    height: auto;
    margin-bottom: 20px;
  }
  .error__description {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
}

@media screen and (max-width: 768px) {
  .error__block {
    padding: 75px 0;
  }
  .error__title, .error h1 {
    font-size: 36px;
    line-height: 45px;
    margin-bottom: 5px;
  }
  .error__contacts {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 576px) {
  .error img {
    width: 100%;
  }
  .error__block {
    padding: 25px 0;
  }
  .error__title, .error h1 {
    line-height: 40px;
    font-size: 30px;
  }
  .error__btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .error__btns button, .error__btns a {
    font-size: 14px;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
    margin-right: 0;
  }
  .error__btns button:last-child, .error__btns a:last-child {
    margin-bottom: 0;
  }
}

.footer .btn-secondary:hover {
  color: white;
  border: 1px solid white;
}

.footer__panel {
  background-image: url(../img/panel-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.footer__call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  -ms-flex-preferred-size: 34%;
      flex-basis: 34%;
}

.footer__call span, .footer__call p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

.footer__call a, .footer__call button {
  color: white;
  padding: 22px 35px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 17px;
}

.footer__callback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 182px;
  position: relative;
  z-index: 100;
}

.footer__callback span {
  color: white;
}

.footer__phone {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  line-height: 32px;
}

.footer__phone svg {
  margin-right: 18px;
}

.footer__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 32px;
  -ms-flex-preferred-size: 36%;
      flex-basis: 36%;
}

.footer-menu__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 88px 0 28px;
}

.footer-menu__box .logo {
  margin-bottom: 45px;
}

.footer-menu__box .phone {
  margin-bottom: 15px;
}

.footer-menu-contact {
  display: block;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 12px;
  text-decoration: none;
}

.footer-menu-contact:hover {
  text-decoration: underline;
}

.footer-menu__address {
  -ms-flex-preferred-size: 41%;
      flex-basis: 41%;
}

.footer-menu__address span, .footer-menu__address h4, .footer-menu__address h5 {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.footer-menu__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 33px;
}

.footer-menu__contacts div {
  -ms-flex-preferred-size: 41%;
      flex-basis: 41%;
}

.footer-menu__contacts span, .footer-menu__contacts h4, .footer-menu__contacts h5 {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.footer-menu__contacts ul li {
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 18px;
}

.footer-menu__contacts ul li a {
  text-decoration: none;
}

.footer-menu__contacts ul li a:hover {
  text-decoration: underline;
}

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: 49.2%;
      flex-basis: 49.2%;
  padding-top: 5px;
}

.footer-links__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
}

.footer-links__list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-links__list ul li {
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 22px;
}

.footer-links__list ul li a {
  padding: 5px 0;
  text-decoration: none;
  color: #000000;
  opacity: .6;
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.footer-links__list ul li a:hover {
  opacity: 1;
}

.footer-links__title {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 49px;
  text-transform: uppercase;
}

.footer-links__title::before {
  content: "";
  display: block;
  position: absolute;
  width: 58px;
  height: 1px;
  background-color: #C92123;
  bottom: -16px;
  left: 0;
}

.footer-strip {
  border-top: 1px solid #F6F5FA;
}

.footer-strip__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  padding: 22px 0;
}

.footer-strip__cyber {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #999999;
  line-height: 18px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 250px;
}

.footer-strip__politic {
  text-decoration: underline;
  color: #1162DC;
  line-height: 14px;
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
}

.footer-strip__politic:hover {
  color: #0e71cc;
}

.footer-strip__info {
  text-transform: uppercase;
  line-height: 18px;
}

@media screen and (max-width: 1400px) {
  .footer__title {
    font-size: 28px;
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
  }
  .footer__phone {
    font-size: 20px;
  }
  .footer__phone svg {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  .footer__call {
    -ms-flex-preferred-size: 41%;
        flex-basis: 41%;
  }
  .footer__call a, .footer__call button {
    font-size: 14px;
  }
  .footer__call p, .footer__call span {
    font-size: 13px;
  }
  .footer-menu__box {
    padding: 65px 0 20px;
  }
  .footer-links__title {
    margin-bottom: 35px;
  }
  .footer-links__list ul li {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .footer-menu__contacts div {
    -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
  }
}

@media screen and (max-width: 992px) {
  .footer__title, .footer__call {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .footer__callback {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__call span, .footer__call p {
    -ms-flex-preferred-size: 32%;
        flex-basis: 32%;
    margin-right: 2%;
  }
  .footer__call {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .footer__call a, .footer__call button {
    padding: 15px 25px;
  }
  .footer-menu__contacts {
    margin-bottom: 25px;
  }
  .footer-menu__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 35px 0 0;
  }
  .footer-menu__contacts div {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
  }
}

@media screen and (max-width: 768px) {
  .footer__title {
    font-size: 20px;
  }
  .footer__phone {
    font-size: 15px;
  }
  .footer__phone svg {
    width: 15px;
    height: 15px;
  }
  .footer__call span, .footer__call p {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
  .footer-strip__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px 0;
  }
  .footer-strip__wrap__cyber {
    margin-bottom: 5px;
  }
  .footer-strip__wrap__info {
    margin-bottom: 5px;
  }
  .footer-menu-contact {
    margin-bottom: 5px;
  }
  .footer-menu__contacts {
    padding-top: 10px;
    margin-bottom: 5px;
  }
  .footer-menu__contacts ul li {
    margin-bottom: 10px;
  }
  .footer-menu__box .logo {
    margin-bottom: 15px;
  }
  .footer-links__list ul li {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 576px) {
  .footer__call {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer__callback {
    height: 250px;
  }
  .footer-menu__box {
    padding: 15px 0 0;
  }
  .footer-menu__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-menu__contacts span, .footer-menu__contacts h4, .footer-menu__contacts h5 {
    margin-bottom: 5px;
  }
  .footer-menu__contacts div {
    margin-bottom: 10px;
  }
  .footer-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-links__title {
    margin-bottom: 20px;
  }
  .footer-links__title::before {
    bottom: -6px;
  }
  .footer-links__list {
    margin-bottom: 15px;
  }
  .footer__call span, .footer__call p {
    margin-bottom: 10px;
  }
}

.contact {
  padding: 30px 0;
}

.contact__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 0 50px;
}

.contact__item {
  margin-right: 90px;
}

.contact__item:last-child {
  margin-right: 0;
}

.contact__title {
  margin-bottom: 50px;
  display: block;
}

.contact__subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  display: block;
  margin-bottom: 23px;
}

.contact__list {
  margin-right: 113px;
}

.contact__list:last-child {
  margin-right: 0;
}

.contact__list ul li {
  font-size: 18px;
  margin-bottom: 7px;
}

.contact__box-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1400px) {
  .contact__item {
    margin-right: 40px;
  }
  .contact__title {
    margin-bottom: 40px;
  }
  .contact__list {
    margin-right: 60px;
  }
  .contact__box {
    padding: 60px 0 15px;
  }
}

@media screen and (max-width: 1200px) {
  .contact__item {
    margin-right: 30px;
  }
  .contact__title {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 30px;
  }
  .contact__list {
    margin-right: 40px;
  }
  .contact__box {
    padding: 40px 0 15px;
  }
  .contact__subtitle {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .contact__list ul li {
    font-size: 14px;
  }
}

@media screen and (max-width: 992px) {
  .contact__box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 10px 0 10px;
  }
  .contact__title {
    margin-bottom: 10px;
    font-size: 20px;
  }
  .contact__list {
    margin-right: 20px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .contact {
    padding: 10px 0;
  }
  .contact__box-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.production {
  padding: 60px 0 77px;
}

.production-info {
  padding: 30px 0 49px;
}

.production-info.full {
  padding: 30px 0 105px;
}

.production-info h2, .production-info .title {
  margin-bottom: 36px;
}

.production h2, .production .title {
  margin-bottom: 36px;
}

.production-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.production__title {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  position: relative;
  padding-bottom: 10px;
  letter-spacing: .01em;
  color: #000000;
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
}

.production__title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 37px;
  height: 2px;
  background-color: #C92123;
}

.production__cart {
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
  text-decoration: none;
  padding: 39px 39px 41px 39px;
  border: 1px solid #E5E5E5;
  margin-bottom: 37px;
  margin-right: 2%;
  background-color: transparent;
  -webkit-transition: background-color .2s linear;
  transition: background-color .2s linear;
}

.production__cart:nth-child(3n) {
  margin-right: 0;
}

.production__cart:hover {
  background-color: #FAFAFA;
}

.production__cart:hover .production__title {
  color: #C92123;
}

.production__subtitle, .production__suptitle {
  display: block;
  font-size: 14px;
  line-height: 20px;
}

.production__subtitle {
  margin-top: 20px;
}

.production__suptitle {
  margin-bottom: 10px;
}

.production-info__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.production-info__item {
  -ms-flex-preferred-size: 49.2%;
      flex-basis: 49.2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.production-info__title {
  position: relative;
  padding-top: 85px;
  color: #000000;
  padding-bottom: 18px;
}

.production-info__title.mobile {
  display: none;
}

.production-info__title::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 36px;
  background-color: #C92123;
}

.production-info__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 98px;
}

.production-info__btns a, .production-info__btns button {
  margin-right: 26px;
  padding: 16px 49px;
  font-size: 15px;
}

.production-info__btns a:last-child, .production-info__btns button:last-child {
  margin-right: 0;
}

@media screen and (max-width: 1400px) {
  .production__info {
    padding: 25px 0 30px;
  }
  .production__cart {
    padding: 25px;
    margin-bottom: 25px;
  }
  .production__title {
    font-size: 15px;
  }
  .production-info__item {
    max-width: 530px;
  }
  .production-info__btns {
    margin-bottom: 30px;
  }
  .production-info__btns a, .production-info__btns button {
    padding: 13px 25px;
    font-size: 14px;
  }
}

@media screen and (max-width: 1200px) {
  .production-info {
    padding: 30px 0 65px;
  }
  .production-info__item {
    max-width: 440px;
  }
}

@media screen and (max-width: 992px) {
  .production__cart {
    -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
    margin-right: 0;
    margin-bottom: 15px;
  }
  .production-flex {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .production-info h2, .production-info .title {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 30px;
    padding-top: 27px;
  }
  .production-info {
    padding: 30px 0;
  }
  .production-info__title.desktop {
    display: none;
  }
  .production-info__title.mobile {
    display: block;
  }
  .production-info__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .production-info__item {
    max-width: none;
  }
}

@media screen and (max-width: 768px) {
  .production__cart {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .production-info h2, .production-info .title {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 28px;
    padding-top: 20px;
  }
  .production-info {
    padding: 20px 0 25px;
  }
  .production-info.full {
    padding: 30px 0 25px;
  }
  .gallery__hero img {
    height: 300px;
  }
}

@media screen and (max-width: 576px) {
  .production-info h2, .production-info .title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
  }
  .production-info {
    padding: 15px 0 20px;
  }
  .gallery__hero img {
    height: 250px;
  }
  .production-info__btns {
    margin-bottom: 10px;
  }
  .production-info__btns a, .production-info__btns button {
    margin-right: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
  }
}

.news__title {
  padding-top: 51px;
}

.news .card-new__wrap {
  padding-top: 39px;
}

.new.main {
  padding-top: 27px;
  padding-bottom: 21px;
}

.new.main .card-new__wrap {
  padding: 39px 0 0;
}

.info__box {
  padding: 70px 0 10px;
}

.info img {
  margin-bottom: 40px;
  width: 100%;
}

.info p {
  margin-bottom: 43px;
  line-height: 32px;
  font-size: 18px;
  font-weight: 400;
  color: #333333;
}

.info ul {
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 32px;
  color: #333333;
  line-height: 32px;
  font-size: 18px;
}

.info ul li span {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  color: #C92123;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  margin-top: -2px;
}

.info__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 33px;
}

.info_left-icon, .info svg {
  margin-right: 21px;
}

.info__title {
  font-size: 32px;
  line-height: 36px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

.info__description {
  max-width: 860px;
  margin: 0 auto;
}

@media screen and (max-width: 1400px) {
  .info__box {
    padding: 60px 0 10px;
  }
  .info__article {
    margin-bottom: 25px;
  }
  .info img {
    margin-bottom: 25px;
  }
  .info p {
    margin-bottom: 25px;
  }
  .info ul li {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 1200px) {
  .info__box {
    padding: 40px 0 10px;
  }
  .info__article {
    margin-bottom: 20px;
  }
  .info__article svg {
    width: 22px;
    height: 22px;
    margin-right: 15px;
  }
  .info img {
    margin-bottom: 20px;
  }
  .info p {
    margin-bottom: 20px;
  }
  .info ul li {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 992px) {
  .info__title {
    font-size: 28px;
  }
  .info__box {
    padding: 35px 0 10px;
  }
}

@media screen and (max-width: 768px) {
  .info ul li {
    font-size: 15px;
  }
  .info ul li span {
    -ms-flex-preferred-size: 18%;
        flex-basis: 18%;
  }
  .info__title {
    font-size: 24px;
  }
  .info__box {
    padding: 20px 0 10px;
  }
  .info__article {
    margin-bottom: 10px;
  }
  .info img {
    margin-bottom: 12px;
  }
  .info p {
    margin-bottom: 12px;
    font-size: 15px;
    line-height: 25px;
  }
  .info ul li {
    margin-bottom: 12px;
    line-height: 27px;
  }
}

@media screen and (max-width: 576px) {
  .info ul li span {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
  }
}

.company__wrap {
  padding: 119px 0 129px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.company__info {
  padding: 35px 104px 0 111px;
  position: relative;
}

.company__info p, .company__info span {
  color: #333333;
  margin-bottom: 34px;
  font-size: 18px;
  line-height: 32px;
}

.company__info_top {
  position: absolute;
  top: -16px;
  left: 0;
}

.company__info_bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  bottom: -43px;
  right: 7.5%;
}

@media screen and (max-width: 1200px) {
  .company__wrap {
    padding: 80px 0 45px;
  }
  .company__info {
    padding: 35px 104px 0 63px;
  }
  .company__info_bottom, .company__info_top {
    width: 40px;
    height: 45px;
  }
  .company__info_bottom {
    bottom: 0;
  }
  .company__info_top {
    top: 0;
  }
}

@media screen and (max-width: 992px) {
  .company__wrap {
    padding: 60px 0 40px;
  }
  .company__info {
    padding: 33px 93px 0 47px;
  }
  .company img {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .company__wrap {
    padding: 30px 0 15px;
  }
  .company__info {
    padding: 0;
  }
  .company__info_bottom, .company__info_top {
    display: none;
  }
  .company__info p, .company__info span {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 576px) {
  .company__wrap {
    padding: 20px 0 10px;
  }
  .company__info p, .company__info span {
    font-size: 15px;
    line-height: 25px;
  }
}

.partners__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 86px 0 53px;
}

.partners__item {
  -ms-flex-preferred-size: 49.5%;
      flex-basis: 49.5%;
}

.partners__link {
  text-decoration: none;
  color: #1C9DE5;
  line-height: 16px;
  font-size: 14px;
  font-weight: 700;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.partners__link:hover {
  color: #0e71cc;
}

.partners__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.partners__article_linear {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  height: 4px;
  margin: 0 20px;
  background: #E6E6E6;
}

.partners__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.partners__image {
  -webkit-transition: all .2 linear;
  transition: all .2 linear;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
          box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  border: 1px solid #F6F5FA;
}

.partners__image:hover {
  border: none;
  -webkit-box-shadow: 0px 10px 40px rgba(154, 199, 228, 0.4);
          box-shadow: 0px 10px 40px rgba(154, 199, 228, 0.4);
}

.partners__image img {
  width: 100%;
}

@media screen and (max-width: 992px) {
  .partners__wrap {
    padding: 80px 0 53px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .partners__item {
    margin-bottom: 35px;
  }
  .partners__item:last-child {
    margin-bottom: 0;
  }
  .partners__article {
    margin-bottom: 20px;
  }
  .partners__title {
    font-size: 28px;
  }
  .partners__link {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .partners__wrap {
    padding: 50px 0 30px;
  }
  .partners__item {
    margin-bottom: 25px;
  }
  .partners__item:last-child {
    margin-bottom: 0;
  }
  .partners__article {
    margin-bottom: 15px;
  }
  .partners__title {
    font-size: 22px;
  }
  .partners__link {
    font-size: 12px;
  }
}

@media screen and (max-width: 576px) {
  .partners__wrap {
    padding: 20px 0;
  }
  .partners__grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .partners__title {
    font-size: 20px;
  }
}

.deflate__title {
  padding-top: 37px;
}

.deflate__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 27px 0 45px;
}

.deflate__item {
  margin-right: 2%;
  -ms-flex-preferred-size: 22%;
      flex-basis: 22%;
}

.deflate__item:last-child {
  margin-right: 0;
}

.deflate__item:first-child {
  -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
}

@media screen and (max-width: 1400px) {
  .deflate .custom-select__selected-text {
    font-size: 13px;
  }
}

@media screen and (max-width: 1200px) {
  .deflate__item {
    margin-right: 1%;
  }
}

@media screen and (max-width: 992px) {
  .deflate__wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .deflate__item {
    margin-bottom: 10px;
  }
  .deflate__title {
    padding-top: 20px;
  }
}

@media screen and (max-width: 768px) {
  .deflate__title {
    padding-top: 20px;
  }
  .deflate__wrap {
    padding: 25px 0;
  }
}

@media screen and (max-width: 576px) {
  .deflate__wrap {
    overflow: hidden;
  }
}

.download__wrap {
  padding: 63px 0 128px;
}

.download__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 658px;
}

.download__title {
  font-size: 26px;
  line-height: 30px;
  font-family: "Montserrat", sans-serif;
  color: #000000;
  font-weight: 800;
  margin-bottom: 30px;
}

.download__subtitle {
  display: block;
  font-family: "Montserrat", sans-serif;
  color: #000000;
  font-weight: 800;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 31px;
}

@media screen and (max-width: 1400px) {
  .download__wrap {
    padding: 50px 0 100px;
  }
}

@media screen and (max-width: 1200px) {
  .download__wrap {
    padding: 45px 0 80px;
  }
  .download__title {
    margin-bottom: 20px;
    font-size: 24px;
  }
  .download__subtitle {
    line-height: 16px;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 992px) {
  .download__wrap {
    padding: 35px 0 50px;
  }
  .download__title {
    margin-bottom: 15px;
    font-size: 22px;
  }
  .download__subtitle {
    line-height: 15px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .download__wrap {
    padding: 25px 0 40px;
  }
  .download__title {
    margin-bottom: 10px;
    font-size: 18px;
  }
  .download__subtitle {
    line-height: 15px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 576px) {
  .download__wrap {
    padding: 15px 0 20px;
  }
  .download__subtitle {
    line-height: 14px;
    margin-bottom: 10px;
  }
}

.hero {
  position: relative;
  margin-bottom: 28px;
}

.hero__wrap {
  overflow: hidden;
}

.hero__item {
  position: relative;
  padding: 67px 0 207px;
}

.hero__before {
  display: block;
  position: relative;
  font-size: 32px;
  line-height: 32px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: white;
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 50px;
  margin-bottom: 30px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin-left: -23px;
  margin-bottom: 80px;
}

.hero__before::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 40px;
  background: white;
  display: block;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.hero__images {
  z-index: -100;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.hero__images_item {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  position: relative;
}

.hero__images_item:first-child::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #01539B;
  opacity: .9;
}

.hero__images img {
  width: 100%;
  height: 100%;
}

.hero__title {
  color: white;
  max-width: 830px;
  margin-bottom: 34px;
  text-shadow: 0 6px 16px rgba(0, 0, 0, 0.4);
}

.hero__subtitle {
  display: block;
  color: white;
  font-size: 16px;
  line-height: 26px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  max-width: 800px;
  margin-bottom: 35px;
}

.hero__link {
  color: white;
  font-size: 14.5px;
  line-height: 18px;
  font-weight: 700;
  text-decoration: none;
  border-bottom: 2px solid white;
  padding-bottom: 6px;
}

.hero__dots {
  width: 100%;
  position: absolute;
  bottom: 90px;
  z-index: 900;
  color: white;
}

.hero__dots_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__dots span {
  cursor: pointer;
  color: white;
  opacity: .6;
  padding: 10px 8px 5px;
  font-size: 14px;
  line-height: 14px;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
  font-weight: 700;
  border-bottom: 2px solid white;
}

.hero__dots span:last-child {
  padding-right: 5px;
}

.hero__dots span.active {
  line-height: 30px;
  font-size: 18px;
  opacity: 1;
  padding: 0;
  padding-right: 3px;
  border-bottom: 2px solid #C92123;
}

@media screen and (max-width: 1400px) {
  .hero__item {
    padding: 40px 0 185px;
  }
  .hero__title {
    margin-bottom: 20px;
    font-size: 50px;
  }
}

@media screen and (max-width: 1200px) {
  .hero {
    margin-bottom: 24px;
  }
  .hero__item {
    padding: 20px 0 105px;
  }
  .hero__title {
    margin-bottom: 15px;
    font-size: 47px;
    line-height: 50px;
  }
  .hero__before {
    font-size: 24px;
    margin-bottom: 40px;
  }
  .hero__before::before {
    width: 30px;
  }
  .hero__subtitle {
    margin-bottom: 25px;
  }
  .hero__dots {
    bottom: 40px;
  }
}

@media screen and (max-width: 992px) {
  .hero {
    margin-bottom: 14px;
  }
  .hero__item {
    padding: 1px 0 85px;
  }
  .hero__title {
    margin-bottom: 10px;
    font-size: 41px;
    line-height: 45px;
  }
  .hero__before {
    width: 45px;
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 10px;
    margin-left: -10px;
  }
  .hero__before::before {
    width: 20px;
  }
  .hero__subtitle {
    font-size: 14px;
    margin-bottom: 4px;
  }
  .hero__dots {
    bottom: 30px;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    margin-bottom: 5px;
  }
  .hero__item {
    padding: 1px 0 65px;
  }
  .hero__title {
    margin-bottom: 0;
    font-size: 30px;
    line-height: 40px;
  }
  .hero__before {
    display: none;
  }
  .hero__subtitle {
    font-size: 13px;
    margin-bottom: 0;
  }
  .hero__link {
    font-size: 13px;
  }
  .hero__dots {
    bottom: 15px;
  }
}

@media screen and (max-width: 576px) {
  .hero {
    margin-bottom: 5px;
  }
  .hero__item {
    padding: 1px 0 75px;
  }
  .hero__title {
    padding-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 25px;
  }
  .hero__subtitle {
    line-height: 20px;
    margin-bottom: 10px;
  }
  .hero__link {
    font-size: 12px;
  }
  .hero__dots {
    bottom: 10px;
  }
  .hero__images_item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .hero__images_item:last-child {
    display: none;
  }
}

.map {
  padding: 56px 0 141px;
}

.map.title-map {
  padding: 21px 0 141px;
}

.map__title {
  margin-bottom: 31px;
}

.map__wrap {
  max-height: 650px;
  height: 659px;
  overflow: hidden;
  -webkit-box-shadow: 0px 10px 40px rgba(154, 199, 228, 0.4);
          box-shadow: 0px 10px 40px rgba(154, 199, 228, 0.4);
}

@media screen and (max-width: 1400px) {
  .map {
    padding: 50px 0 120px;
  }
  .map__wrap {
    max-height: 600px;
  }
}

@media screen and (max-width: 1200px) {
  .map {
    padding: 50px 0 100px;
  }
  .map__wrap {
    max-height: 500px;
  }
}

@media screen and (max-width: 992px) {
  .map {
    padding: 40px 0 80px;
  }
  .map.title-map {
    padding: 40px 0 80px;
  }
  .map__wrap {
    max-height: 400px;
  }
}

@media screen and (max-width: 768px) {
  .map {
    padding: 40px 0 60px;
  }
  .map.title-map {
    padding: 40px 0 60px;
  }
  .map__wrap {
    max-height: 300px;
  }
}

@media screen and (max-width: 576px) {
  .map {
    padding: 20px 0 35px;
  }
  .map.title-map {
    padding: 20px 0 35px;
  }
}

.service.main .cards__wrap {
  padding: 30px 0 92px;
}

@media screen and (max-width: 1200px) {
  .service.main .cards__wrap {
    padding: 30px 0 62px;
  }
}

@media screen and (max-width: 992px) {
  .service.main .cards__wrap {
    padding: 25px 0 55px;
  }
}

@media screen and (max-width: 768px) {
  .service.main .cards__wrap {
    padding: 25px 0 35px;
  }
}

@media screen and (max-width: 576px) {
  .service.main .cards__wrap {
    padding: 15px 0 25px;
  }
}

.company-slider {
  padding: 74px 0 260px;
  position: relative;
}

.company-slider__control {
  position: absolute;
  width: 100%;
  bottom: 43.1%;
}

.company-slider__control_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.company-slider__title {
  margin-bottom: 20px;
  display: block;
}

.company-slider__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.company-slider__image {
  -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
}

.company-slider__image img {
  width: 100%;
}

.company-slider__description {
  padding-top: 34px;
  -ms-flex-preferred-size: 49.3%;
      flex-basis: 49.3%;
  max-height: 300px;
  overflow: hidden;
}

.company-slider__subtitle {
  display: block;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 16px;
}

.company-slider p, .company-slider__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}

.company-slider__range {
  margin-top: 38px;
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 28px;
}

.company-slider__dot {
  cursor: pointer;
  position: relative;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
  border: 4px solid #01539B;
  background: white;
  z-index: 200;
}

.company-slider__dot_message {
  padding: 16px;
  display: none;
  position: absolute;
  top: 37px;
  left: -10px;
}

.company-slider__dot_message::before {
  content: "";
  position: absolute;
  top: -13px;
  display: block;
  left: 14px;
  border: 6px solid transparent;
  border-bottom: 8px solid #309DD1;
}

.company-slider__dot_message p {
  line-height: 24px;
}

.company-slider__dot_message.right {
  right: auto;
  left: -10px;
}

.company-slider__dot_message.left {
  left: auto;
  right: -10px;
}

.company-slider__dot_message.left::before {
  left: auto;
  right: 14px;
  border-bottom: 8px solid #589ED5;
}

.company-slider__dot_year {
  position: absolute;
  top: -56px;
  left: -6px;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  font-size: 32px;
  line-height: 36px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: black;
  opacity: .6;
  text-transform: uppercase;
}

.company-slider__dot.active {
  width: 28px;
  height: 28px;
}

.company-slider__dot.active .company-slider__dot_message {
  display: block;
}

.company-slider__dot.active .company-slider__dot_year {
  opacity: 1;
  top: -50px;
}

.company-slider__progress {
  height: 2px;
  background: #D6D6D6;
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.company-slider__progress_range {
  -webkit-transition: width .3s linear;
  transition: width .3s linear;
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 2px;
  background: #F5DA89;
}

@media screen and (max-width: 1400px) {
  .company-slider {
    padding: 60px 0 200px;
  }
  .company-slider__description {
    padding-top: 0;
  }
  .company-slider__range {
    margin-top: 75px;
  }
}

@media screen and (max-width: 1200px) {
  .company-slider {
    padding: 40px 0 180px;
  }
  .company-slider__control {
    bottom: 40%;
  }
  .company-slider__subtitle {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 10px;
  }
  .company-slider p, .company-slider__text {
    font-size: 15px;
    line-height: 23px;
  }
  .company-slider__dot {
    width: 12px;
    height: 12px;
  }
  .company-slider__dot.active {
    width: 24px;
    height: 24px;
  }
  .company-slider__dot_year {
    font-size: 22px;
  }
  .company-slider__dot_message {
    padding: 12px;
  }
  .company-slider__dot_message p {
    font-size: 14px;
    line-height: 20px;
  }
}

@media screen and (max-width: 992px) {
  .company-slider__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .company-slider__image {
    margin-bottom: 20px;
    max-height: 370px;
    overflow: hidden;
  }
  .company-slider__control {
    bottom: 28%;
  }
}

@media screen and (max-width: 768px) {
  .company-slider {
    padding: 15px 0 165px;
  }
  .company-slider__control {
    bottom: 29%;
  }
  .company-slider__dot_year {
    font-size: 18px;
  }
}

@media screen and (max-width: 576px) {
  .company-slider {
    padding: 20px 0 20px;
  }
  .company-slider__title {
    font-size: 19px;
    margin-bottom: 10px;
  }
  .company-slider__image {
    margin-bottom: 10px;
  }
  .company-slider__control {
    bottom: 80px;
  }
  .company-slider__subtitle {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 0;
  }
  .company-slider__dot.active .company-slider__dot_year {
    display: block;
    top: -38px;
  }
  .company-slider__dot_year {
    display: none;
  }
  .company-slider__dot.active .company-slider__dot_message {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */