.search {
  padding-top: 49px;
}

.search__field {
  display: flex;
  margin-bottom: 41px;
}
.search__field .input-search {
  margin-right: 23px;
  flex-basis: 66%;
}
.search__field input {
  padding: 22px 19px;
}
.search__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  flex-basis: 32%;
}
.search__wrap {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}
.search__total {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  color: #333333;
}
.search__total span {
  color: #999999;
  font-size: 12px;
  line-height: 16px;
}
.search__item {
  display: flex;
  width: 70%;
  flex-direction: column;
  padding: 30px 0;
  border-bottom: 1px solid #E9E9E9;
}
.search__item a {
  text-decoration: none;
  color: #333333;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  transition: color .2s linear;
  margin-bottom: 10px;
}
.search__item a:hover {
  color: #C92123;
}
@media screen and (max-width: 992px) {
  .search__item {
    width: 100%;
    padding: 20px 0;
  }
  .search__btn {
    font-size: 16px;
  }
  .search__field {
    margin-bottom: 20px;
  }
  .search {
    padding-top: 25px;
  }
}
@media screen and (max-width: 768px) {
  .search__field {
    flex-direction: column;
  }
  
  .search__field .input-search {
    margin-bottom: 10px;
    margin-right: 0;
  }
  .search__btn {
    padding: 15px 0;
  }
}