.error
  &__block
    display: flex
    padding: 202px 0 189px
    justify-content: space-between
    flex-wrap: wrap
  &__description
    display: flex
    flex-direction: column
    flex-basis: 66%
  &__title, & h1
    margin-bottom: 23px
  &__subtitle
    font-weight: 400
    line-height: 32px 
    font-size: 18px
    margin-bottom: 10px
  &__contacts
    font-family: $font-second
    font-weight: 800
    font-size: 18px
    line-height: 22px
    letter-spacing: .3px
    margin-bottom: 49px
    text-decoration: none
    &:hover
      text-decoration: underline
  &__btns
    display: flex
    & button, & a
      padding: 23px 70px
      font-size: 17px
      letter-spacing: .02rem
      margin-right: 22px
      &:last-child
        margin-right: 0
@media screen and (max-width: 1400px)  
  .error
    &__description
      flex-basis: 50%
    &__btns
      & button, & a
        padding: 16px 10px
    &__title, h1
      font-size: 47px
    &__block
      padding: 120px 0 120px
@media screen and (max-width: 1200px)  
  .error
    &__description
      flex-basis: 60%
    & img
      height: 260px
    &__block
      padding: 100px 0
@media screen and (max-width: 992px)
  .error
    &__block
      flex-direction: column
    & img
      align-self: center
      height: auto
      margin-bottom: 20px
    &__description
      flex-basis: auto
@media screen and (max-width: 768px)
  .error
    &__block
      padding: 75px 0
    &__title, h1
      font-size: 36px
      line-height: 45px
      margin-bottom: 5px
    &__contacts
      margin-bottom: 20px
@media screen and (max-width: 576px)
  .error
    & img
      width: 100%
    &__block
      padding: 25px 0
    &__title, h1
      line-height: 40px
      font-size: 30px
    &__btns
      flex-direction: column
      & button, a
        font-size: 14px
        width: 100%
        text-align: center
        margin-bottom: 15px
        margin-right: 0
        &:last-child
          margin-bottom: 0