.breadcrumbs 
  background-image: url(/img/panel-bg.jpg)
  background-size: cover
  background-repeat: no-repeat
  width: 100%
  &__links
    position: relative
    z-index: 100
    display: flex
    align-items: center
    & ul
      display: flex
      height: 182px
      align-items: center
      & li
        position: relative
        color: white
        & a
          color: white
        &:last-child
          font-family: $font-second
          font-weight: 800
          font-size: 32px
        &:not(:last-child)
          padding-right: 8px
          margin-right: 3px
          font-size: 15px
          &::after
            content: "/"
            transform: rotate(4deg)
            display: block
            font-size: 16px
            color: white
            position: absolute
            right: 0
            top: 0



@media screen and (max-width: 992px)
  .breadcrumbs__links ul
    height: 140px
  .breadcrumbs__links ul li:last-child
    font-size: 30px
@media screen and (max-width: 768px)
  .breadcrumbs__links ul li:not(:last-child)
    font-size: 14px
  .breadcrumbs__links ul li:last-child
    font-size: 17px
  .breadcrumbs__links ul li:not(:last-child)::after
    font-size: 14px
@media screen and (max-width: 576px)
  .breadcrumbs__links ul
    height: 100px
  .breadcrumbs__links ul li:not(:last-child)
    font-size: 12px
  .breadcrumbs__links ul li:last-child
    font-size: 14px
  .breadcrumbs__links ul li:not(:last-child)::after
    font-size: 12px