.company-slider
  padding: 74px 0 260px
  position: relative
  &__control
    position: absolute
    width: 100%
    bottom: 43.1%
    &_box
      display: flex
      width: 100%
      justify-content: flex-end
  &__title
    margin-bottom: 20px
    display: block
  &__box
    display: flex
    justify-content: space-between
  &__image
    flex-basis: 49%
    & img
      width: 100%
  &__description
    padding-top: 34px
    flex-basis: 49.3%
    max-height: 300px
    overflow: hidden
  &__subtitle
    display: block
    font-weight: 800
    font-family: $font-second
    font-size: 24px
    line-height: 32px
    margin-bottom: 16px
  & p, &__text
    font-weight: 400
    font-size: 18px
    line-height: 32px 
  &__range
    margin-top: 38px
    position: relative
    width: 100%
    display: flex
    align-items: center
    justify-content: space-around
    height: 28px
  &__dot
    cursor: pointer
    position: relative
    border-radius: 50%
    height: 16px
    width: 16px
    transition: all .1s linear
    border: 4px solid $color-main
    background: white
    z-index: 200   
    &_message
      padding: 16px
      display: none
      position: absolute
      top: 37px
      left: -10px
      &::before
        content: ""
        position: absolute
        top: -13px
        display: block
        left: 14px
        border: 6px solid transparent
        border-bottom: 8px solid #309DD1
      & p 
        line-height: 24px
      &.right
        right: auto
        left: -10px
      &.left
        left: auto
        right: -10px
    &_message.left::before
      left: auto
      right: 14px
      border-bottom: 8px solid #589ED5
    &_year
      position: absolute
      top: -56px
      left: -6px
      transition: all .2s linear
      font-size: 32px
      line-height: 36px
      font-family: $font-second
      font-weight: 800
      color: black
      opacity: .6
      text-transform: uppercase
    &.active
      width: 28px
      height: 28px
      & .company-slider__dot_message
        display: block
      & .company-slider__dot_year
        opacity: 1
        top: -50px
  &__progress
    height: 2px
    background: #D6D6D6
    position: absolute
    width: 100%
    top: 50%
    transform: translateY(-50%)
    &_range
      transition: width .3s linear 
      position: absolute
      left: 0
      top: 0
      width: 0%
      height: 2px
      background: #F5DA89
@media screen and (max-width: 1400px)  
  .company-slider
    padding: 60px 0 200px
    &__description
      padding-top: 0
    &__range
      margin-top: 75px
@media screen and (max-width: 1200px)
  .company-slider
    padding: 40px 0 180px
    &__control
      bottom: 40%
    &__subtitle
      font-size: 20px
      line-height: 24px
      margin-bottom: 10px
    & p, &__text
      font-size: 15px
      line-height: 23px
    &__dot
      width: 12px
      height: 12px
      &.active
        width: 24px
        height: 24px
      &_year
        font-size: 22px
      &_message
        padding: 12px
        & p
          font-size: 14px
          line-height: 20px
@media screen and (max-width: 992px)
  .company-slider
    &__box
      flex-direction: column
    &__image
      margin-bottom: 20px
      max-height: 370px
      overflow: hidden
    &__control
      bottom: 28%
@media screen and (max-width: 768px)
  .company-slider
    padding: 15px 0 165px
    &__control
      bottom: 29%
    &__dot
      &_year
        font-size: 18px
@media screen and (max-width: 576px)
  .company-slider
    padding: 20px 0 20px
    &__title
      font-size: 19px
      margin-bottom: 10px
    &__image
      margin-bottom: 10px
    &__control
      bottom: 80px
    &__subtitle
      font-size: 18px
      line-height: 22px
      margin-bottom: 0
    &__dot
      &.active
        & .company-slider__dot_year
          display: block
          top: -38px
      &_year
        display: none
    &__dot.active &__dot_message
      display: none