.company
  &__wrap
    padding: 119px 0 129px
    display: flex
    align-items: center
  &__info
    padding: 35px 104px 0 111px
    position: relative
    & p, & span
      color: $basic-paragraph
      margin-bottom: 34px
      font-size: 18px 
      line-height: 32px
    &_top
      position: absolute
      top: -16px
      left: 0
    &_bottom
      position: absolute
      bottom: 0
      right: 0
      bottom: -43px
      right: 7.5%


@media screen and (max-width: 1200px)  
  .company
    &__wrap
      padding: 80px 0 45px
    &__info
      padding: 35px 104px 0 63px
      &_bottom, &_top
        width: 40px
        height: 45px
      &_bottom
        bottom: 0
      &_top
        top: 0
@media screen and (max-width: 992px)
  .company
    &__wrap
      padding: 60px 0 40px
    &__info
      padding: 33px 93px 0 47px
    & img 
      display: none
@media screen and (max-width: 768px)
  .company
    &__wrap
      padding: 30px 0 15px
    &__info
      padding: 0
      &_bottom, &_top
        display: none
    &__info p, &__info span
      margin-bottom: 15px
@media screen and (max-width: 576px)
  .company
    &__wrap
      padding: 20px 0 10px   
    &__info p, &__info span 
      font-size: 15px
      line-height: 25px

