.contact
  padding: 30px 0
  &__box
    display: flex
    padding: 40px 0 50px
  &__item
    margin-right: 90px
    &:last-child
      margin-right: 0
  &__title
    margin-bottom: 50px
    display: block
  &__subtitle
    font-family: $font-second
    font-weight: 800
    font-size: 24px
    line-height: 28px
    display: block
    margin-bottom: 23px
  &__list 
    margin-right: 113px
    &:last-child
      margin-right: 0
    & ul li 
      font-size: 18px
      margin-bottom: 7px
  &__box
    &-list
      display: flex

@media screen and (max-width: 1400px)  
  .contact
    &__item
      margin-right: 40px
    &__title
      margin-bottom: 40px
    &__list
      margin-right: 60px
    &__box
      padding: 60px 0 15px
@media screen and (max-width: 1200px)  
  .contact
    &__item
      margin-right: 30px
    &__title
      margin-bottom: 30px
      font-size: 24px
      line-height: 30px
    &__list
      margin-right: 40px
    &__box
      padding: 40px 0 15px
    &__subtitle
      font-size: 20px
      margin-bottom: 10px
    &__list ul li
      font-size: 14px
@media screen and (max-width: 992px)
  .contact
    &__box
      flex-wrap: wrap
      padding: 10px 0 10px
    &__title
      margin-bottom: 10px
      font-size: 20px
    &__list
      margin-right: 20px
      margin-bottom: 20px
@media screen and (max-width: 768px)
  .contact
    padding: 10px 0
    &__box-list
      flex-wrap: wrap
@media screen and (max-width: 576px)
  .container 