.deflate
  &__title
    padding-top: 37px
  &__wrap
    display: flex
    padding: 27px 0 45px
  &__item
    margin-right: 2%
    flex-basis: 22%
    &:last-child
      margin-right: 0
    &:first-child
      flex-basis: 49%
@media screen and (max-width: 1400px)  
  .deflate .custom-select__selected-text
    font-size: 13px

@media screen and (max-width: 1200px)
  .deflate__item
    margin-right: 1%

@media screen and (max-width: 992px)
  .deflate
    &__wrap
      flex-wrap: wrap
    &__item
      margin-bottom: 10px
    &__title
      padding-top: 20px
@media screen and (max-width: 768px)
  .deflate
    &__title
      padding-top: 20px
    &__wrap
      padding: 25px 0
@media screen and (max-width: 576px)
  .deflate
    &__wrap
      overflow: hidden