.download
  &__wrap
    padding: 63px 0 128px
  &__box
    display: flex
    flex-direction: column
    max-width: 658px
  &__title
    font-size: 26px
    line-height: 30px
    font-family: $font-second
    color: $text-color
    font-weight: 800
    margin-bottom: 30px
  &__subtitle
    display: block
    font-family: $font-second
    color: $text-color
    font-weight: 800
    font-size: 18px 
    line-height: 18px
    margin-bottom: 31px
@media screen and (max-width: 1400px)  
  .download
    &__wrap
      padding: 50px 0 100px
@media screen and (max-width: 1200px)  
  .download
    &__wrap
      padding: 45px 0 80px
    &__title
      margin-bottom: 20px
      font-size: 24px
    &__subtitle
      line-height: 16px
      margin-bottom: 25px
@media screen and (max-width: 992px)
  .download
    &__wrap
      padding: 35px 0 50px
    &__title
      margin-bottom: 15px
      font-size: 22px
    &__subtitle
      line-height: 15px
      margin-bottom: 20px
@media screen and (max-width: 768px)
  .download
    &__wrap
      padding: 25px 0 40px
    &__title
      margin-bottom: 10px
      font-size: 18px
    &__subtitle
      line-height: 15px
      margin-bottom: 20px
@media screen and (max-width: 576px)
  .download
    &__wrap
      padding: 15px 0 20px
    &__subtitle
      line-height: 14px
      margin-bottom: 10px