.footer
  & .btn-secondary:hover
    color: white
    border: 1px solid white
  &__panel
    background-image: url(../img/panel-bg.jpg)
    background-size: cover
    background-repeat: no-repeat
    width: 100%
  &__call
    display: flex
    align-items: center
    justify-content: space-between
    color: white
    flex-basis: 34%
    & span, & p 
      font-family: $font-second
      font-weight: 500
      font-size: 14px
      line-height: 20px
      flex-basis: 45%
    & a , & button
      color: white
      padding: 22px 35px
      font-family: $font-second
      font-weight: 800
      font-size: 16px
      line-height: 17px
  &__callback
    display: flex
    align-items: center
    justify-content: space-between
    height: 182px
    position: relative
    z-index: 100
    & span 
      color: white
  &__phone
    color: white
    display: flex
    align-items: center
    font-size: 24px
    line-height: 32px
    & svg
      margin-right: 18px
  &__title
    font-family: $font-second
    font-weight: 800
    font-size: 32px
    flex-basis: 36%
  
.footer
  &-menu
    &__box
      display: flex
      justify-content: space-between
      padding: 88px 0 28px
      & .logo
        margin-bottom: 45px
      & .phone
        margin-bottom: 15px
    &-contact
      display: block
      font-size: 14px
      line-height: 18px
      margin-bottom: 12px
      text-decoration: none
      &:hover
        text-decoration: underline
    &__address
      flex-basis: 41%
      & span, & h4, & h5
        display: block
        font-family: $font-second
        font-weight: 800
        font-size: 16px   
        line-height: 18px
        margin-bottom: 16px
        text-transform: uppercase
    &__contacts
      display: flex
      justify-content: space-between
      padding-top: 33px
      & div
        flex-basis: 41%
      & span, & h4, & h5
        display: block
        font-family: $font-second
        font-weight: 800
        font-size: 16px   
        line-height: 18px
        margin-bottom: 16px
        text-transform: uppercase
      & ul
        & li
          margin-bottom: 16px
          font-size: 14px 
          line-height: 18px   
          & a
            text-decoration: none
            &:hover
              text-decoration: underline     

.footer-links
  display: flex
  justify-content: space-between
  flex-basis: 49.2%
  padding-top: 5px
  &__list
    display: flex
    flex-direction: column
    flex-basis: 48%
    & ul 
      display: flex
      flex-direction: column
      & li 
        font-size: 16px
        line-height: 18px
        margin-bottom: 22px
        & a
          padding: 5px 0
          text-decoration: none
          color: $text-color
          opacity: .6
          transition: opacity .2s linear
          &:hover
            opacity: 1
  &__title
    position: relative
    font-family: $font-second
    font-weight: 800
    font-size: 16px   
    line-height: 18px
    margin-bottom: 49px
    text-transform: uppercase
    &::before
      content: ""
      display: block
      position: absolute
      width: 58px
      height: 1px
      background-color: $color-error
      bottom: -16px
      left: 0
    
.footer
  &-strip
    border-top: 1px solid #F6F5FA
    &__wrap
      display: flex
      justify-content: space-between
      font-size: 14px
      padding: 22px 0
    &__cyber
      text-decoration: none
      display: flex
      align-items: center
      color: $color-grey
      line-height: 18px
      justify-content: space-between
      width: 250px
    &__politic
      text-decoration: underline
      color: $link-color
      line-height: 14px
      transition: color .2s linear
      &:hover
        color: #0e71cc
    &__info
      text-transform: uppercase
      line-height: 18px

@media screen and (max-width: 1400px)  
  .footer
    &__title
      font-size: 28px
      flex-basis: 33%
    &__phone
      font-size: 20px
      & svg
        width: 20px
        height: 20px
        margin-right: 10px
    &__call
      flex-basis: 41%
    &__call a, &__call button
      font-size: 14px
    &__call p, &__call span
      font-size: 13px
    &-menu
      &__box
        padding: 65px 0 20px
    &-links
      &__title
        margin-bottom: 35px
      &__list ul li
        margin-bottom: 20px
@media screen and ( max-width: 1200px )
  .footer
    &-menu__contacts div
      flex-basis: 49%
@media screen and (max-width: 992px)
  .footer
    &__title, &__call
      flex-basis: 100%
    &__callback
      flex-wrap: wrap
    &__call span, &__call p
      flex-basis: 32%
      margin-right: 2%
    &__call
      justify-content: start
    &__call a, &__call button
      padding: 15px 25px
    &-menu
      &__contacts
        margin-bottom: 25px
      &__box
        flex-direction: column
        padding: 35px 0 0
      &__contacts div
        flex-basis: 48%
@media screen and (max-width: 768px)
  .footer
    &__title
      font-size: 20px
    &__phone
      font-size: 15px
      & svg
        width: 15px
        height: 15px
    &__call span, &__call p
      flex-basis: 40%
    &-strip__wrap
      flex-direction: column
      padding: 10px 0
      &__cyber
        margin-bottom: 5px
      &__info
        margin-bottom: 5px
    &-menu
      &-contact
        margin-bottom: 5px
      &__contacts
        padding-top: 10px
        margin-bottom: 5px
        & ul li 
          margin-bottom: 10px
      &__box
        & .logo
          margin-bottom: 15px
    &-links__list ul li
      margin-bottom: 10px
@media screen and (max-width: 576px)
  .footer
    &__call
      flex-direction: column
      align-items: flex-start
    &__callback
      height: 250px
    &-menu
      &__box
        padding: 15px 0 0
      &__contacts
        flex-direction: column
      &__contacts span, &__contacts h4, &__contacts h5
        margin-bottom: 5px
      &__contacts div
        margin-bottom: 10px
    &-links
      flex-direction: column
      &__title
        margin-bottom: 20px
        &::before
          bottom: -6px
      &__list
        margin-bottom: 15px
  .footer__call span, .footer__call p
    margin-bottom: 10px