.header
  background: white
  height: 77px
  width: 100%
  padding: 0 40px
  display: flex
  justify-content: space-between
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2), 0px -4px 20px rgba(0, 0, 0, 0.2)
  &__drop-menu
    width: 40px
    height: 77px
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
    transition: all .2s linear
    & i
      width: 100%
      height: 70%
      background-color: green
      width: 100%
      height: 2px
      width: 100%
      background-color: black
      position: relative
      &::after, &::before
        content: ""
        transition: all .2s linear
        position: absolute
        display: block
        height: 2px
        width: 100%
        background-color: black
      &::after
        top: -10px
      &::before
        bottom: -10px
    &.active
      & i
        background-color: transparent
        &::after, &::before
          top: 0
        &::before
          transform: rotate(45deg)
        &::after
          transform: rotate(-45deg)
  &__nav
    display: flex
    & ul
      margin: 0
      display: flex
      list-style: none
      padding: 0
      & li
        display: flex
        align-items: center
        justify-content: center
        position: relative
        & a 
          cursor: pointer
          padding: 30px 1px
          margin-right: 34px
          position: relative
          border: 1px solid transparent
          font-weight: 600
          opacity: .6
          text-decoration: none
          text-transform: uppercase
          transition: opacity .2s linear
          &::after
            content: ""
            display: block
            width: 100%
            height: 2px
            background-color: transparent
            position: absolute
            transition: background-color .2s linear
            top: 0
          &:hover
            opacity: 1
            &::after
              background-color: $color-error
    
@media screen and (max-width: 1480px)  
  .header
    &__nav ul li a
      margin-right: 10px
@media screen and (max-width: 1380px)
  .header
    &__nav ul li a
      font-size: 14px

@media screen and (max-width: 992px)
  .title
    font-size: 28px
  .header
    padding: 0 20px
    height: 63px
    &__nav
      flex: 1 0 0
      & ul
        display: none
    &__drop-menu
      height: 63px
@media screen and (max-width: 768px)
  .header
    padding: 0 10px
    height: 53px
    &__drop-menu
      height: 53px

      