.hero
  position: relative
  margin-bottom: 28px
  &__wrap
    overflow: hidden
  &__item
    position: relative
    padding: 67px 0 207px
  &__before
    display: block
    position: relative
    font-size: 32px
    line-height: 32px
    font-family: $font-second
    font-weight: 400
    color: white
    width: 80px
    display: flex
    justify-content: flex-end
    margin-top: 50px
    margin-bottom: 30px
    transform: rotate(-90deg)
    margin-left: -23px
    margin-bottom: 80px
    &::before
      content: ""
      position: absolute
      height: 2px
      width: 40px
      background: white
      display: block
      left: 0
      top: 50%
      transform: translateY(-50%)
  &__images
    z-index: -100
    position: absolute
    display: flex
    left: 0
    top: 0
    bottom: 0
    right: 0
    &_item
      flex-basis: 50%
      position: relative
      &:first-child
        &::before
          content: ""
          position: absolute
          top: 0
          left: 0
          bottom: 0
          right: 0
          background: $color-main
          opacity: .9
    & img
      width: 100%
      height: 100%
  &__title
    color: white
    max-width: 830px
    margin-bottom: 34px
    text-shadow: 0 6px 16px rgba(0,0,0,0.4)
  &__subtitle
    display: block
    color: white
    font-size: 16px
    line-height: 26px
    font-family: $font-second
    font-weight: 500
    max-width: 800px
    margin-bottom: 35px
  &__link
    color: white
    font-size: 14.5px
    line-height: 18px
    font-weight: 700
    text-decoration: none
    border-bottom: 2px solid white
    padding-bottom: 6px
  &__dots
    width: 100%
    position: absolute
    bottom: 90px
    z-index: 900
    color: white
    &_wrap
      display: flex
    & span
      cursor: pointer
      color: white
      opacity: .6 
      padding: 10px 8px 5px
      font-size: 14px
      line-height: 14px
      transition: all .1s linear
      font-weight: 700
      border-bottom: 2px solid white
      &:last-child
        padding-right: 5px
      &.active
        line-height: 30px
        font-size: 18px
        opacity: 1
        padding: 0
        padding-right: 3px
        border-bottom: 2px solid $color-error
@media screen and (max-width: 1400px)  
  .hero
    &__item
      padding: 40px 0 185px
    &__title
      margin-bottom: 20px
      font-size: 50px
@media screen and (max-width: 1200px)  
  .hero
    margin-bottom: 24px
    &__item
      padding: 20px 0 105px
    &__title
      margin-bottom: 15px
      font-size: 47px
      line-height: 50px
    &__before
      font-size: 24px
      margin-bottom: 40px
      &::before
        width: 30px 
    &__subtitle
      margin-bottom: 25px
    &__dots
      bottom: 40px
@media screen and (max-width: 992px)
  .hero
    margin-bottom: 14px
    &__item
      padding: 1px 0 85px
    &__title
      margin-bottom: 10px
      font-size: 41px
      line-height: 45px
    &__before
      width: 45px
      font-size: 18px
      margin-bottom: 30px
      line-height: 10px
      margin-left: -10px
      &::before
        width: 20px
    &__subtitle
      font-size: 14px
      margin-bottom: 4px
    &__dots
      bottom: 30px 
@media screen and (max-width: 768px)
  .hero
    margin-bottom: 5px
    &__item
      padding: 1px 0 65px
    &__title
      margin-bottom: 0
      font-size: 30px
      line-height: 40px
    &__before
      display: none
    &__subtitle
      font-size: 13px
      margin-bottom: 0
    &__link
      font-size: 13px
    &__dots
      bottom: 15px
@media screen and (max-width: 576px)
  .hero
    margin-bottom: 5px
    &__item
      padding: 1px 0 75px
    &__title
      padding-top: 20px
      margin-bottom: 10px
      font-size: 20px
      line-height: 25px
    &__subtitle
      line-height: 20px
      margin-bottom: 10px
    &__link
      font-size: 12px
    &__dots
      bottom: 10px
    &__images
      &_item
        flex-basis: 100%
        &:last-child
          display: none
