.info
  &__box
    padding: 70px 0 10px
  & img
    margin-bottom: 40px
    width: 100%
  p 
    margin-bottom: 43px
    line-height: 32px
    font-size: 18px
    font-weight: 400
    color: $basic-paragraph
  & ul 
    margin-bottom: 16px
    display: flex
    flex-direction: column
    li
      display: flex
      margin-bottom: 32px
      color: $basic-paragraph
      line-height: 32px
      font-size: 18px
      & span
        flex-basis: 10%
        color: $color-error
        font-family: $font-second
        font-size: 24px
        margin-top: -2px
  &__article
    display: flex
    align-items: center
    margin-bottom: 33px
  &_left-icon, & svg
    margin-right: 21px
  &__title
    font-size: 32px
    line-height: 36px
    color: $text-color
    font-family: $font-second
    font-weight: 800
  &__description
    max-width: 860px
    margin: 0 auto

@media screen and (max-width: 1400px)  
  .info
    &__box
      padding: 60px 0 10px
    &__article
      margin-bottom: 25px
    & img
      margin-bottom: 25px
    & p 
      margin-bottom: 25px
    & ul li
      margin-bottom: 25px
@media screen and (max-width: 1200px)
  .info
    &__box
      padding: 40px 0 10px
    &__article
      margin-bottom: 20px
      & svg
        width: 22px
        height: 22px
        margin-right: 15px
    & img
      margin-bottom: 20px
    & p 
      margin-bottom: 20px
    & ul li
      margin-bottom: 20px
@media screen and (max-width: 992px)
  .info
    &__title
      font-size: 28px
    &__box
      padding: 35px 0 10px
@media screen and (max-width: 768px)
  .info
    & ul li
      font-size: 15px
      & span
        flex-basis: 18%
    &__title
      font-size: 24px
    &__box
      padding: 20px 0 10px
    &__article
      margin-bottom: 10px
    & img
      margin-bottom: 12px
    & p 
      margin-bottom: 12px
      font-size: 15px
      line-height: 25px
    & ul li
      margin-bottom: 12px
      line-height: 27px
@media screen and (max-width: 576px)
  .info ul li span
    flex-basis: 70%
  .info__box
    padding: 
    10px 0