.map
  padding: 56px 0 141px
  &.title-map
    padding: 21px 0 141px
  &__title
    margin-bottom: 31px
  &__wrap
    max-height: 650px
    height: 659px
    overflow: hidden
    box-shadow: 0px 10px 40px rgba(154, 199, 228, 0.4)
@media screen and (max-width: 1400px)  
  .map
    padding: 50px 0 120px
    &__wrap
      max-height: 600px
@media screen and (max-width: 1200px)  
  .map
    padding: 50px 0 100px
    &__wrap
      max-height: 500px
@media screen and (max-width: 992px)
  .map
    padding: 40px 0 80px
    &.title-map
      padding: 40px 0 80px
    &__wrap
      max-height: 400px
@media screen and (max-width: 768px)
  .map
    padding: 40px 0 60px
    &.title-map
      padding: 40px 0 60px
    &__wrap
      max-height: 300px
@media screen and (max-width: 576px)
  .map
    padding: 20px 0 35px
    &.title-map
      padding: 20px 0 35px
