.partners
  &__wrap
    display: flex
    justify-content: space-between
    padding: 86px 0 53px
  &__item
    flex-basis: 49.5%
  &__link
    text-decoration: none
    color: #1C9DE5
    line-height: 16px
    font-size: 14px
    font-weight: 700
    transition: all .2s linear
    &:hover
      color: #0e71cc
  &__article
    display: flex
    align-items: center
    margin-bottom: 50px
    &_linear
      flex: 1 0 0
      height: 4px 
      margin: 0 20px 
      background: #E6E6E6
  &__grid
    display: flex
    flex-wrap: wrap
  &__image
    transition: all .2 linear
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0)
    flex-basis: 50%
    border: 1px solid #F6F5FA
    &:hover
      border: none
      box-shadow: 0px 10px 40px rgba(154, 199, 228, 0.4)
    & img
      width: 100%
    
@media screen and (max-width: 992px)
  .partners
    &__wrap
      padding: 80px 0 53px
      flex-direction: column
    &__item
      margin-bottom: 35px
      &:last-child
        margin-bottom: 0
    &__article
      margin-bottom: 20px
    &__title
      font-size: 28px
    &__link
      font-size: 12px
@media screen and (max-width: 768px)
  .partners
    &__wrap
      padding: 50px 0 30px
    &__item
      margin-bottom: 25px
      &:last-child
        margin-bottom: 0
    &__article
      margin-bottom: 15px
    &__title
      font-size: 22px
    &__link
      font-size: 12px
@media screen and (max-width: 576px)
  .partners
    &__wrap
      padding: 20px 0
    &__grid
      flex-direction: column
    &__title
      font-size: 20px