.production
  padding: 60px 0 77px
  &-info
    padding: 30px 0 49px
    &.full
      padding: 30px 0 105px
    & h2, & .title
      margin-bottom: 36px
  & h2, & .title
    margin-bottom: 36px
  &-flex
    display: flex
    flex-wrap: wrap
  &__title
    display: block
    font-family: $font-second
    font-weight: 800
    font-size: 18px
    line-height: 24px
    position: relative
    padding-bottom: 10px
    letter-spacing: .01em
    color: $text-color
    transition: color .2s linear
    &::before
      content: ""
      position: absolute
      bottom: 0
      left: 0
      display: block
      width: 37px 
      height: 2px
      background-color: $color-error
  &__cart
    flex-basis: 32%
    text-decoration: none
    padding: 39px 39px 41px 39px
    border: 1px solid $color-border
    margin-bottom: 37px    
    margin-right: 2%
    background-color: transparent
    transition: background-color .2s linear
    &:nth-child(3n)
      margin-right: 0
    &:hover
      background-color: #FAFAFA
      & .production__title
        color: $color-error
  &__subtitle, &__suptitle
    display: block
    font-size: 14px
    line-height: 20px
  &__subtitle
    margin-top: 20px
  &__suptitle
    margin-bottom: 10px
.production-info
  &__wrap
    display: flex
    justify-content: space-between
  &__item
    flex-basis: 49.2%
    display: flex
    flex-direction: column
  &__title
    position: relative
    padding-top: 85px
    color: $text-color
    padding-bottom: 18px
    &.mobile
      display: none
    &::before
      content: ""
      display: block
      position: absolute
      left: 0
      bottom: 0
      height: 2px 
      width: 36px
      background-color: $color-error
  &__btns
    display: flex
    flex-wrap: wrap
    margin-bottom: 98px
    & a, & button
      margin-right: 26px
      padding: 16px 49px
      font-size: 15px
      &:last-child
        margin-right: 0
      
@media screen and (max-width: 1400px)  
  .production
    &__info
      padding: 25px 0 30px  
    &__cart
      padding: 25px
      margin-bottom: 25px
    &__title
      font-size: 15px
    &-info
      &__item
        max-width: 530px
      &__btns
        margin-bottom: 30px
        & a, & button
          padding: 13px 25px
          font-size: 14px
@media screen and (max-width: 1200px)  
  .production 
    &-info
      &.full
      padding: 30px 0 65px
      &__item
        max-width: 440px
@media screen and (max-width: 992px)
  .production
    &__cart 
      flex-basis: 49%
      margin-right: 0
      margin-bottom: 15px
    &-flex
      justify-content: space-between
    &-info h2, &-info .title
      font-size: 28px
      line-height: 32px
      margin-bottom: 30px
      padding-top: 27px
    &-info
      padding: 30px 0
      &__title.desktop
        display: none
      &__title.mobile
        display: block
      &__wrap
        flex-direction: column
      &__item
        max-width: none
@media screen and (max-width: 768px)
  .production
    &__cart 
      flex-basis: 100%
    &-info h2, &-info .title
      font-size: 22px
      line-height: 28px
      margin-bottom: 28px
      padding-top: 20px
    &-info
      padding: 20px 0 25px
      &.full
        padding: 30px 0 25px
  .gallery__hero img
    height: 300px
@media screen and (max-width: 576px)
  .production
    &-info h2, &-info .title
      font-size: 20px
      line-height: 24px
      margin-bottom: 20px
    &-info
      padding: 15px 0 20px
  .gallery__hero img
    height: 250px
  .production-info__btns
    margin-bottom: 10px
    & a, & button
      margin-right: 0
      width: 100%
      text-align: center
      margin-bottom: 5px

  