.service.main .cards__wrap
  padding: 30px 0 92px

@media screen and (max-width: 1200px)
  .service.main .cards__wrap
    padding: 30px 0 62px

@media screen and (max-width: 992px)
  .service.main .cards__wrap
    padding: 25px 0 55px

@media screen and (max-width: 768px)
  .service.main .cards__wrap
    padding: 25px 0 35px
@media screen and (max-width: 576px)
  .service.main .cards__wrap
    padding: 15px 0 25px