.arrows
  display: flex
  justify-content: space-between
  width: 100%
  max-width: 80px
  &__item
    cursor: pointer
    transition: all .1 linear
    border-radius: 50%
    & path
      fill: #035194
    & rect
      stroke: #035194
    &:hover
      background: #035194
      & path
        fill: #ffffff
.arrows__item.slick-disabled
  pointer-events: none
  & path
      fill: #86A7C2
  & rect
    stroke: #86A7C2