.blank
  display: flex
  justify-content: space-between
  align-items: center
  transition: all .2s linear
  border: 1px solid #DBDBDB
  border-top: 1px solid transparent
  border-radius: 2px
  padding: 15.5px
  padding-left: 22px
  &:first-child
    border-top: 1px solid #DBDBDB
  &:hover
    box-shadow: 0px 10px 40px rgba(154, 199, 228, 0.4)
    border: 1px solid transparent
  &__description
    display: flex
    flex-direction: column
  &__title
    font-weight: 600
    font-size: 18px
    line-height: 20px
    margin-bottom: 5px
  &__subtitle
    font-size: 14px
    line-height: 16px
    font-weight: 600
  &__link
    padding: 17px 16px
    display: flex
    align-items: center
    font-weight: 700
    color: #2E97CE
    transition: all .2s linear
    cursor: pointer
    text-decoration: none
    border-radius: 50px
    border: 2px solid #2E97CE
    & svg
      margin-right: 20px
      transition: all .2s linear
    &:hover
      background: linear-gradient(135deg, #1E97CC 0%, #7C96D7 100%)
      color: white
      border: 2px solid transparent
      & svg path
        fill: white
@media screen and (max-width: 992px)
  .blank
    padding: 13.5px
    padding-left: 16px 
    &__title
      font-size: 15px
      line-height: 18px
      margin-bottom: 3px
    &__subtitle
      line-height: 14px
    &__link
      padding: 13px 12px
      & svg
        margin-right: 15px
@media screen and (max-width: 768px)
  .blank
    padding: 11.5px
    padding-left: 14px 
    &__title
      font-size: 14px
      line-height: 18px
      margin-bottom: 0
    &__subtitle
      line-height: 13px
    &__link
      padding: 11px 9px
      & svg
        margin-right: 10px
@media screen and (max-width: 576px)
  .blank
    flex-direction: column
    &__subtitle
      margin-bottom: 15px 