.btn-primary, .btn-secondary
  cursor: pointer
  font-family: $font-main
  font-weight: 600
  transition: all .2s linear
  border-radius: 2px
  text-decoration: none
.btn-primary
  background: $btn-color-primary
  color: white
  border: 1px solid transparent
.btn-primary:hover
  background: $btn-color-hover
.btn-secondary 
  color: $color-main
  background: transparent
  border: 1px solid $btn-color-disabled
.btn-secondary:hover
  border: 1px solid $color-hover
  color: $color-hover
.btn-primary:hover, .btn-primary:focus
  background: $btn-color-hover
.btn-secondary:hover, .btn-secondary:focus
  color: $btn-color-hover
.btn-primary:focus, .btn-secondary:focus
  outline: none
  box-shadow: $btn-outline
.btn-primary:disabled, .btn-primary.disabled
  background: $btn-color-disabled
  cursor: not-allowed
.btn-secondary:disabled, .btn-secondary.disabled
  color: $btn-color-disabled
  cursor: not-allowed
  border: 1px solid $btn-color-disabled

