.cards
  &__wrap
    display: flex
    flex-wrap: wrap
    padding: 63px 0 126px
  &__article
    text-transform: uppercase
    position: absolute
    right: 20px
    bottom: -50%
    font-family: $font-second
    font-size: 256px
    font-weight: 800
    color: #F6F5FA
    z-index: 100
  &__image
    opacity: 0
    z-index: 50
    position: absolute
    height: 100%
    width: 100%
    & img
      height: 100%
      width: 100%
    &::before
      content: ""
      display: block
      position: absolute
      left: 0
      right: 0
      bottom: 0
      top: 0
      opacity: .9
      background: linear-gradient(135deg, #1E97CC 0%, #7C96D7 100%)
  &__text
    z-index: 200
    margin-left: 11%
    display: flex
    flex-direction: column
    width: 100%
    & .cards__description
      font-size: 18px
      line-height: 24px
      font-weight: 400
      margin-top: 10px
      max-width: 455px
      transition: color .2s linear
    & .cards__before
      transition: background .2s linear
      height: 2px 
      width: 9.5%
      background: $color-error
      margin-bottom: 13px
    & span
      transition: color .2s linear
      font-family: $font-second
      font-weight: 800
      color: #000000
      font-size: 18px
      line-height: 24px
      text-transform: uppercase
      max-width: 310px
  &__item
    background: linear-gradient(135deg, rgba(0,0,0,0) 0%)
    text-decoration: none
    display: flex
    align-items: center
    width: 100%
    height: 220px
    border: 1px solid #DBDBDB
    position: relative
    border-radius: 2px
    flex-basis: 33.3%
    overflow: hidden
    transition: all .1s linear
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0)
    & table
      z-index: 200
      position: absolute
      width: 100%
      height: 100%
      border-collapse: collapse
      & td
        &:nth-child(5)
          width: 5%
        &:nth-child(4)
          width: 4.5%
      & tr
        & td:first-child
          width: 11%
          border-right: 1px solid #F6F5FA
        & td:nth-child(2)
          width: 8.5%
          border-right: 1px solid #F6F5FA
        & .num
          font-family: $font-second
          font-size: 16px
          line-height: 18px
          color: #cccccc
          font-weight: 800
          transition: color .2s linear
        & td:nth-child(4)
          border-right: 1px solid #F6F5FA
        & td:nth-child(3)
          border-right: 1px solid #F6F5FA          
        &:first-child
          height: 11%
          & td
            border-bottom: 1px solid #F6F5FA
        &:nth-child(2)
          height: 8%
          & td
            border-bottom: 1px solid #F6F5FA
    &:hover
      border: none
      box-shadow: 0px 8px 32px rgba(79, 159, 212, 0.56)
      & table tr 
        & td
          border: 1px solid transparent
        & td.num
          color: white
      & .cards__text
        & span
          color: white
        & .cards__before
          background: white
      & .cards__article
        color: white
        opacity: .1
      & .cards__image
        opacity: 1
      & .cards__description
        color: white

.cards.full
  & .cards__text
    margin-left: 7%
    max-width: 500px
    & .cards__before
      width: 6%
  & .cards__item
    flex-basis: 50%
    & table
      & td
        &:nth-child(5)
          width: 2%
        &:nth-child(4)
          width: 4.5%
      & tr
        & td:first-child
          width: 11%
          border-right: 1px solid transparent
        & td:nth-child(2)
          width: 8.5%
          border-right: 1px solid transparent
        & td:nth-child(4)
          border-right: 1px solid transparent
        & td:nth-child(3)
          border-right: 1px solid transparent          
        &:first-child
          height: 11%
          & td
            border-bottom: 1px solid transparent
        &:nth-child(2)
          height: 8%
          & td
            border-bottom: 1px solid transparent

.cards.full .cards__wrap
  padding: 63px 0
@media screen and (max-width: 1400px)  
  .cards
    &__wrap
      padding: 60px 0 100px
@media screen and (max-width: 1200px)  
  .cards
    &__item
      flex-basis: 50%
    &__article
      font-size: 195px
      bottom: -30%
    &__wrap
      padding: 20px 0 60px
@media screen and (max-width: 992px)
  .cards
    &__wrap
        padding: 20px 0 50px
  .cards.full
    & .cards__item
      flex-basis: 100%
@media screen and (max-width: 768px)
  .cards
    &__item
      flex-basis: 100%
    &__wrap
      padding: 15px 0 30px
@media screen and (max-width: 576px)
  .cards__text .cards__description
    font-size: 14px
    line-height: 20px
  .cards
    &__text span
      font-size: 14px
      line-height: 20px
    &__item
      height: 185px
    &__article
      font-size: 125px
      bottom: -20%
    &__wrap
      padding: 10px 0 15px
