.card-new
  &__wrap
    display: flex
    justify-content: space-between
    padding: 68px 0 0
    flex-wrap: wrap
  &__item 
    flex-basis: 23.8%
    box-shadow: 0px 10px 40px rgba(154, 199, 228, 0.4)
    text-decoration: none
    padding-bottom: 25px
    transition: box-shadow .2s linear
    margin-bottom: 61px
    &:hover
      background-color: #F7F8FB
      box-shadow: 0px 10px 40px rgba(154, 199, 228, 0.7)
      & .card-new__description p 
        color: $color-error
    & img
      width: 100%
      max-height: 166px
      margin-bottom: 22px
  &__description
    padding: 0 13px
    & p 
      font-size: 14px 
      font-family: $font-second
      font-weight: 700
      line-height: 22px
      transition: color .2s linear
  &__title
    font-weight: 700
    line-height: 14px
    font-size: 12px
    margin-bottom: 11px
    display: block
    color: #999999

@media screen and (max-width: 1400px)  
  .container
@media screen and (max-width: 1200px)  
  .container
@media screen and (max-width: 992px)
 .card-new
    &__wrap
      padding: 40px 0 0
    &__item
      flex-basis: 48%
      margin-bottom: 30px
@media screen and (max-width: 768px)
  .card-new
    &__wrap
      padding: 30px 0 0 
@media screen and (max-width: 576px)
  .card-new
    &__wrap
      padding: 20px 0 0 
    &__item
      flex-basis: 100%