.custom-select 
  position: relative
  &:focus
    border: 1px solid #01539B
    outline: none
  
.custom-select__select 
  height: 0 
  width: 0
  opacity: 0
  position: absolute
  left: 0 
  top: 100%
  &:focus
    border: 1px solid #01539B
    outline: none

.custom-select__selected-text 
  white-space: nowrap
  text-transform: uppercase
  width: 100%
  cursor: default
  display: inline-block
  padding: 1px 18px 1px 4px
  border: 1px solid #999 
  border-radius: 2px
  border-radius: 1px
  position: relative
  font-size: 13px
  font-family: sans-serif
  font-size: 16px
  font-family: $font-second
  font-weight: 600
  padding: 16px 17px
  &:focus
    border: 1px solid #01539B
    outline: none
.custom-select__selected-text:after 
  position: absolute
  content: ''
  width: 0
  height: 0
  border-style: solid
  border-width: 6px 3px 0 3px
  border-color: #000 transparent transparent transparent
  top: 0 
  bottom: 0 
  right: 6px
  margin: auto
.custom-select__selected-text:focus + select, .custom-select__select:focus 
  height: auto 
  width: auto 
  overflow-y: scroll
  opacity: 1
  z-index: 400
  width: 100%
  border: 1px solid #01539B
@media screen and (max-width: 1400px)  
  .deflate .custom-select__selected-text
    font-size: 13px

