.gallery
  display: flex
  flex-direction: column
  &__hero
    border: 1px solid $color-border
    margin-bottom: 5px
    display: flex
    align-items: center
    justify-content: center
    & img
      height: 380px
      width: 100%
  &__grid
    display: flex
    flex-wrap: wrap
  &__item
    position: relative
    cursor: pointer
    flex-basis: 21%
    margin-right: 2%
    margin-bottom: 11px
    display: flex
    align-items: center
    justify-content: center
    & img
      width: 100%
    &::before
      content: ""
      display: block
      position: absolute
      width: 90%
      height: 2px
      background-color: transparent
      transition: background-color .2s linear
      bottom: -5px
      left: 50%
      transform: translateX(-50%)
    &:nth-child(4n)
      margin-right: 0
    &.active::before
      background-color: $color-error
        
        

