input:focus, select:focus
  outline: none
.custom-checkbox 
  position: absolute
  z-index: -1
  opacity: 0

.custom-checkbox+label.castom 
  display: inline-flex
  align-items: center
  user-select: none

.custom-checkbox+label.castom::before 
  content: ''
  display: inline-block
  width: 1em
  height: 1em
  flex-shrink: 0
  flex-grow: 0
  border: 1px solid $color-main
  border-radius: 2px
  background-repeat: no-repeat
  background-position: center center
  background-size: 50% 50%
.checkbox
  margin-right: 10px

.custom-checkbox:not(:disabled):not(:checked)+label.castom:hover::before 
  border-color: $color-hover

.custom-checkbox:not(:disabled):active+label.castom::before 
  background-color: $color-main
  border-color: $color-main

.custom-checkbox:focus:not(:checked)+label.castom::before 
  border-color: $color-main

.custom-checkbox:checked+label.castom::before 
  border-color: $color-main
  background-color: $color-main
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e")
.checkbox.error .custom-checkbox + label.castom::before
  border: 1px solid $color-error
.input-search
  position: relative
  & input 
    width: 100%
    font-size: 18px
    border-radius: 2px
    transition: all .2s linear
    border: 1px solid $input-color
    &::placeholder
      color: $input-hover
    &:hover
      border-color: $input-hover
    &:focus
      border-color: $input-focus
      &::placeholder
        color: black
  & label
    position: absolute
    right: 23px
    top: 50%
    transform: translateY(-50%)

.field
  position: relative
  & span.field__error_text
    display: none
    color: $color-error
    position: absolute
    bottom: -14px
    font-size: 12px
  & label.error
    color: $color-error
    position: absolute
    bottom: -12px
    left: 0
    font-size: 12px
  & span.field__valid, span.field__error
    display: none
    position: absolute
    right: 20px
    top: 50%
    transform: translateY(-50%)
    height: 10px
    width: 10px 
    background-repeat: no-repeat
  & span.field__error
    background-image: url(/img/icon/error.svg)
  & span.field__valid
    background-image: url(/img/icon/success.svg)
  & label.field-label
    position: absolute
    left: 18px
    top: 50%
    transform: translateY(-50%)
    transition: all .2s linear
    color: $input-hover
    font-size: 15px
  & input 
    width: 100%
    font-size: 18px
    border-radius: 2px
    transition: all .2s linear
    border: 1px solid $input-color
    &:hover
      border-color: $input-hover
    &:focus
      border-color: $input-focus
      & ~ label.field-label
        color: $color-main
        font-size: 13px
        transform: translateY(0)
        top: -8px
        background: white
        display: inline-block
        padding: 0 5px
        margin-left: -5px
    &.error
      border-color: $color-error
      & ~ label.field-label
        color: $color-error
      & ~ span.field__error
        display: block
      & ~ span.field__error_text
        display: block
    &.valid
      border-color: $color-success
      & ~ label.field-label
        color: $color-success
      & ~ span.field__valid
        display: block


.field input.active
  & ~ label.field-label
    color: $color-main
    font-size: 13px
    transform: translateY(0)
    top: -8px
    background: white
    display: inline-block
    padding: 0 5px
    margin-left: -5px
  &.error
      border-color: $color-error
      & ~ label.field-label
        color: $color-error
      & ~ span.field__error
        display: block
      & ~ span.field__error_text
        display: block
  &.valid
    border-color: $color-success
    &  ~ label.field-label
      color: $color-success
    & ~ span.field__valid
        display: block
.select
  width: 100%
  position: relative
  cursor: pointer
  & select
    width: 100%
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    font-size: 18px
    border-radius: 2px
    transition: all .2s linear
    border: 1px solid $input-color
    color: $input-hover
    &:hover
      border-color: $input-hover
    &:focus
      border-color: $input-focus
      color: $input-focus
  & label
    position: absolute
    right: 20px
    top: 50%
    transform: translateY(-50%)

