.logo
  display: flex
  align-items: center
  &__mobile
    display: none
    margin-right: 10px
  &__desktop
    width: 300px
    height: 54px

@media screen and (max-width: 1200px)  
  .header .logo__text
    display: none
  .header .logo
    &__desktop
      display: none
    &__mobile
      display: block
@media screen and (max-width: 992px)
  .header .logo
    margin-right: 10px
    max-width: 35px
  .header .logo svg, .logo .icon
    margin: 0
    min-width: 35px
@media screen and (max-width: 768px)
  .container 
@media screen and (max-width: 576px)
  .container 