.media
  &__wrap
    display: flex
    flex-wrap: wrap
    padding: 34px 0 61px
  &__item
    flex-basis: 30%
    margin-right: 5%
    margin-bottom: 36px
    &:nth-child(3n)
      margin-right: 0
    & img
      width: 100%
      height: 160px
      margin-bottom: 10px
  &__description
    font-family: $font-second
    font-weight: 800
    font-size: 24px
    line-height: 28px
    text-align: center
    display: block
    width: 100%
@media screen and (max-width: 1400px)  
  .media__wrap
    padding: 30px 0 55px
@media screen and (max-width: 1200px)  
  .media__wrap
    padding: 25px 0 45px
@media screen and (max-width: 992px)
  .media__wrap
    padding: 15px 0 30px
@media screen and (max-width: 768px)
  .media
    &__wrap
      justify-content: space-between
      padding: 5px 0 10px
    &__item
      margin-right: 0
      flex-basis: 48%
    &__description
      font-size: 16px
@media screen and (max-width: 576px)
  .media
    &__description
      line-height: 19px
    &__item
      flex-basis: 100%