@keyframes showSearchPanel
  0%
    opacity: 0
  100%
    opacity: 1
@keyframes hideSearchPanel
  0%
    opacity: 1
  100%
    opacity: 0
.hidden
  overflow: hidden
.menu-panel
  background: #F2F2F2
  z-index: 900
  display: none
  position: fixed
  height: 100vh
  overflow: auto
  left: 0
  right: 0
  bottom: 0
  top: 0
  &__box
    display: flex
    flex-wrap: wrap
  &__item
    margin-right: 1%
    flex-basis: 22.1%
    display: flex
    flex-direction: column
    &:last-child
      margin-right: 0
    & ul
      margin-bottom: 38px
      max-width: 250px
      & li
        margin-bottom: 6px
        & a
          text-decoration: none
          line-height: 18.6px
          font-size: 14px
          transition: all .2s linear
          padding: 5px 0
          display: block
  &__link
    text-decoration: none
    font-weight: 800
    font-family: $font-second
    font-size: 18px
    line-height: 22px
    margin-bottom: 17px
    padding-bottom: 10px
    position: relative
    display: block
    &_bottom
      position: relative
      & a
        font-weight: 600
        font-family: $font-second
      &::before
        content: ""
        position: absolute
        left: 0
        bottom: 0
        height: 1px
        width: 58px
        background-color: $color-error
        display: block
    &::before
      content: ""
      position: absolute
      left: 0
      bottom: 0
      height: 1px
      width: 58px
      background-color: $color-error
      display: block
  &::-webkit-scrollbar 
    width: 6px
    background-color: $color-border
  &::-webkit-scrollbar-thumb
    background-color: $color-main
    border-radius: 2px
  &__input
    margin-bottom: 60px
    width: 100%
    & input
      padding: 22px 19px
  &__wrap
    padding-top: 78px
    height: 100%
    
body.show-panel
  overflow: hidden
  & .menu-panel
    display: block
@media screen and (max-width: 992px)
  
  .menu-panel
    &__wrap
      padding-top: 30px
    &__input
      margin-bottom: 30px
    &__item
      flex-basis: 45%
@media screen and (max-width: 768px)
  .menu-panel
    &__item
      & ul
        margin-bottom: 10px
@media screen and (max-width: 576px)
  .menu-panel
    &__item
      flex-basis: 100%
      margin-right: 0
      & ul
        margin-bottom: 10px