.message
  background-image: url(../img/panel-bg.jpg)
  background-repeat: no-repeat
  background-size: 100% 100%
  box-shadow: 0px 8px 32px rgba(79, 159, 212, 0.56)
  color: white
  width: 639px
  border-radius: 2px
  position: relative
  &::after 
    content: ""
    position: absolute
    display: block
    top: 0
    left: 0
    right: 0
    bottom: 0
    opacity: .8
    background: linear-gradient(135deg, #1E97CC 0%, #7C96D7 100%), #FFFFFF
  & p
    position: relative
    z-index: 50
    color: white
    font-size: 18px
    line-height: 24px
@media screen and (max-width: 1400px)  
  .message
    width: 530px
@media screen and (max-width: 1200px)
  .message
    width: 430px
@media screen and (max-width: 992px)
  .message
    width: 290px
@media screen and (max-width: 768px)
  .slider-container
@media screen and (max-width: 576px)
  .slider-container