.modal
  z-index: 1000
  background: rgba(0, 0, 0, .8)
  overflow: hidden
  position: fixed
  height: 100vh
  left: 0
  top: 0
  right: 0
  bottom: 0
  display: none
  justify-content: center
  align-items: center
  &__block
    background-color: white
    position: relative
    padding: 50px 76px
    width: 530px
  &__title
    text-align: center
    font-family: $font-second
    font-weight: 800
    padding: 0
    font-size: 32px
    margin-bottom: 36px
    display: block
  &__close
    position: absolute
    cursor: pointer
    right: 0
    top: 0
    width: 50px
    height: 50px
    display: flex
    justify-content: center
    align-items: center
    & i
      position: relative
      width: 65%
      &::before, &::after
        content: ""
        position: absolute
        display: block
        height: 2px 
        width: 100%
        background-color: black 
        top: 0
      &::before
        transform: rotate(45deg)
      &::after
        transform: rotate(-45deg)
  &__form
    display: flex
    flex-direction: column
  &__input
    position: relative
    margin-bottom: 20px
    color: red
    &:last-child
      margin-bottom: 5120px
    & input
      padding: 15px 18px
      background: #F0F0F0
      &:focus
        background: none
      &.active
        background: transparent
  &__select
    margin-bottom: 20px
    & select
      padding: 15px 18px
      background: #F0F0F0
      &:focus
        background: none
  &__btn
    padding: 25px 0
    margin-bottom: 37px
  &__check
    display: flex
    & a
      text-decoration: none
      color: $input-hover
      font-size: 12px
      line-height: 16px

body.modal-show
  overflow: hidden
  & .modal
    display: flex

@media screen and (max-width: 1400px)  
  .container
@media screen and (max-width: 1200px)
  .slider-container
@media screen and (max-width: 992px)
  .modal
    &__close
      width: 40px
      height: 40px
    &__title
      font-size: 24px
      margin-bottom: 15px
    &__block
      width: 450px
      padding: 22px 46px
    &__btn
      padding: 17px 0
@media screen and (max-width: 576px)
  .modal
    &__close
      width: 30px
      height: 30px
  .field label.field-label
    font-size: 13px
  .modal
    &__title
      font-size: 24px
      margin-bottom: 15px
    &__block
      width: 320px
      padding: 15px 15px
    &__btn
      padding: 17px 0
  .modal__input input
    padding: 9px 16px
  .modal__select select
    padding: 9px 16px
    font-size: 13px
  .modal__btn
    padding: 10px 0
    margin-bottom: 10px