.pagination
  &__wrap
    display: flex
    justify-content: center
    width: 100%
    padding: 65px 0 70px
    align-items: center
  &__link
    padding: 10px 14px
    display: flex
    align-items: center
    justify-content: center
    background-color: #e5e5e5
    transition: all .2s linear
    border-radius: 2px
    font-weight: 600
    font-size: 12px
    line-height: 16px
    &:hover
      background-color: darken(#e5e5e5, 10%)
    &.active
      background-color: $color-main
      color: white
      pointer-events: none
      cursor: default
  &__dots
    cursor: default
    display: flex
    justify-content: center
    align-items: center
    pointer-events: none
    padding: 11px
  & a 
    margin-right: 12px
    text-decoration: none
    font-weight: 600
    font-size: 12px
    &::last-child
      margin-right: 0
  &__prev, &__next
    display: flex
    align-items: center
    justify-content: center
    border-radius: 50%
    border: 2px solid $color-main
    width: 35px
    height: 35px
    transition: all .2s linear
    &:hover
      background-color: $color-main
      & svg path
        fill: white
    &.disabled
      border: 2px solid #75A1C8
      pointer-events: none
      & svg path
        fill: #75A1C8
    & svg path
      transition: all .2s linear
      fill: $color-main
@media screen and (max-width: 995px)
    .pagination
      &__wrap
        padding: 45px 0 40px
@media screen and (max-width: 768px)
  .pagination
    &__wrap
      padding: 35px 0 30px
    &__link
      padding: 5px 9px
      font-size: 11px
      line-height: 13px
    &__dots
      padding: 11px
    & a 
      margin-right: 5px
      text-decoration: none
      font-weight: 600
      font-size: 10px
    &__prev, &__next
      width: 20px
      height: 20px
