.phone
  display: flex
  align-items: center
  & a, &__text
    font-size: 24px
    text-transform: uppercase
    text-decoration: none
    margin-left: 18px
    font-family: $font-second
@media screen and (max-width: 1400px)  
  .phone
    & svg
      width: 18px 
      height: 18px
    & a, &__text
      font-size: 18px
      margin-left: 10px
@media screen and (max-width: 1200px)  
  .container
@media screen and (max-width: 992px)
  .container 
@media screen and (max-width: 768px)
  .phone
    & a, &__text
      font-size: 14px
    & svg
      width: 14px
      height: 14px
@media screen and (max-width: 576px)
  .container 