.promo
  display: flex
  justify-content: space-between
  align-items: center
  &__item
    flex-basis: 47.9%
    display: flex
    flex-direction: column
    & img
      width: 100%
  &__title
    font-size: 34px 
    line-height: 40px
    font-weight: 400
    color: #768088
    margin-bottom: 5px
  &__text
    margin-bottom: 40px
    color: $basic-paragraph
@media screen and (max-width: 992px)
  .promo
    &__title
      font-size: 24px
    &__text
      margin-bottom: 20px
@media screen and (max-width: 768px)
  .promo
    &__title
      font-size: 19px
      margin-bottom: 15px
      line-height: 30px
@media screen and (max-width: 576px)
  .promo
    flex-direction: column
    align-items: flex-start
    &__title
      margin-bottom: 0
      line-height: 20px
    &__text
      margin-bottom: 10px