.product-information
  background-color: #13202C
  border-radius: 4px
  padding: 30px
  transition: all .2s linear
  max-width: 638px
  &__item
    color: white
    & p 
      color: white !important
      padding-top: 20px
      font-size: 18px
      line-height: 32px
      margin-bottom: 13px
      padding-right: 10px
    & table
      color: white
      width: 100%
      & td
        font-size: 13px
        border-bottom: 1px solid rgba(0, 0, 0, 0.8)
        color: white
        padding: 18px 0
        &:nth-child(2n)
          text-align: right
        &:first-child
          color: #D9D9D9
      & tr
        box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1)
  &__tabs
    margin-bottom: 5px
    padding-bottom: 27px
    width: 100%
    overflow: auto
    display: flex
    justify-content: space-between
    border-bottom: 1px solid rgba(0, 0, 0, 0.8)
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1)
    & button, & a 
      text-decoration: none
      color: white
      background: transparent
      border: none
      padding-bottom: 7px
      position: relative
      margin-right: 20px
      line-height: 20px
      font-size: 16px
      font-weight: 600
      cursor: pointer
      &:last-child
        margin-right: 0
      &::before
        content: ""
        display: block
        position: absolute
        left: 0
        bottom: 0
        height: 2px 
        width: 52px
        transition: background-color .2s linear 
        background-color: transparent
      &.active::before
        background-color: $color-error
      &:focus
        outline: none

@media screen and (max-width: 1200px)  
  .product-information__tabs button, .product-information__tabs a
    margin-right: 10px
    font-size: 14px
  .product-information__item p
    font-size: 14px
  .product-information__item table td
    font-size: 14px


  