.slider-second
  & .card-new__wrap
    padding: 39px 0 0
  &__control
    display: flex
    align-items: center
    overflow: hidden
  &__range
    flex-basis: 88.5%
    height: 4px
    background-color: #E5E5E5
    margin-right: 40px
    position: relative
    &_progress
      position: absolute
      left: 0
      top: 0
      width: 10%
      transition: width .2s linear
      height: 4px
      background: $color-error
  &__control
    padding: 2px 0 45px
@media screen and (max-width: 995px)
  .slider-second__range
    flex-basis: 81.5%
@media screen and (max-width: 768px)
  .slider-second__range
    flex-basis: 78.5%
  .slider-second
    &__control
      padding: 2px 0 35px
    & .card-new__wrap
      padding: 19px 0 0
@media screen and (max-width: 576px)
  .slider-second__range
    flex-basis: 55.5%
    &__control
      padding: 2px 0 15px