.title-block
  padding: 35px 0 10px
  display: flex
  justify-content: space-between
  align-items: center
  &__all
    font-weight: 700
    font-size: 14px
    line-height: 16px
    color: #1C9DE5
    text-decoration: none
    transition: all .2s linear
    &:hover
      color: #0e71cc

@media screen and (max-width: 992px)
  .title-block
    padding: 20px 0 10px
    &__title
      font-size: 28px
    &__all
      font-size: 12px
@media screen and (max-width: 768px)
  .title-block
    &__title
      font-size: 22px
@media screen and (max-width: 576px)
  .title-block
    &__title
      font-size: 20px