*
  box-sizing: border-box
  font-family: $font-main
  font-weight: 400
  color: black 
  margin: 0
  padding: 0
body
  &::-webkit-scrollbar 
    width: 6px
    background-color: $color-border
  &::-webkit-scrollbar-thumb
    background-color: $color-main
    border-radius: 5px
ul
  list-style: none
  padding: 0
  margin: 0
h1, h2, h3, h4, h5, h6, p 
  margin: 0
.slider-container
  max-width: 1360px
  padding: 0 20px
  margin: 0 auto
.container
  max-width: 1340px
  padding: 0 20px
  margin: 0 auto
@media screen and (max-width: 1400px)  
  .container
    max-width: 1140px
  .slider-container
    max-width: 1160px
@media screen and (max-width: 1200px)
  .slider-container
    max-width: 980px
  .container
    max-width: 960px
@media screen and (max-width: 992px)
  .slider-container
    max-width: 740px
    padding: 0 10px
  .container 
    padding: 0 10px
    max-width: 720px
  .title
    font-size: 28px
@media screen and (max-width: 768px)
  .slider-container
    max-width: 560px
  .container 
    max-width: 540px
  .title
    font-size: 22px
@media screen and (max-width: 576px)
  .slider-container
    max-width: 340px
    padding: 0
  .container 
    max-width: 320px
  .title
    font-size: 20px

h1
  font-family: $font-second
  font-weight: 800
  font-size: 54px
  line-height: 62px
  letter-spacing: -0.02em
  color: $text-color
.overlay
  position: relative
  &::before
    content: ""
    position: absolute
    display: block
    top: 0
    bottom: 0
    right: 0
    left: 0
    background: rgba($color-main, .94)
.bg-second
  background-color: $bg-block-second
body
  height: 100vh
  display: flex
  flex-direction: column
main
  flex: auto
footer
  flex-shrink: 0
h2, .title
  color: #768088
  font-family: $font-second
  font-weight: 800
  font-size: 32px
  line-height: 36px
.flex-wrap
  flex-wrap: wrap

body.fixed header
  width: 100%
  position: fixed
  z-index: 500
.technical-support__title
  margin-bottom: -20px